{% extends "../main.html" %}

{% block title %}Wall of Sheep{% end %}

{% block content %}
	<div class="container well">
		{% if len(wall) == 0 %}
			<h2>No Sheep Yet</h2>
		{% else %}
            <!--
			<div id="accordion">
				{% for sheep in wall %}
					<h3><a href="#"><strong>{{ sheep.user.handle }}</strong> (${{ sheep.money }})</a></h3>
					<div>
						<div id="sheep_avatar">
							<img src="/avatars/{{ sheep.user.avatar }}" height=50 width=100 />
						</div>
						<div id="sheep_text">
							<p>
							    {{ sheep.cracker.handle }} cracked {{ sheep.user.handle }}'s password
							    "{{ sheep.preimage }}" and stole ${{ sheep.money }} from his team's bank account.
							</p>
						</div>
					</div>
				{% end %}
			</div>
			-->
		{% end %}
    </div>
	<!-- End Wall -->
{% end %}