{% extends "../main.html" %}

{% block title %}{{ _("All Notifications") }}{% end %}

{% block content %}
    <div class="container">
        <h2>
            <i class="fa fa-envelope-o"></i>
            {{ _("All Notifications") }}
        </h2>
        <br />
        <div class="well">
        {% for notify in reversed(list(user.notifications)) %}
        <div class="row">
            <div class="span1 offset1">
                {% if notify.icon_url is not None %}
                    <img src="{{ notify.icon_url }}" style="width: 70%; float:right;" />
                {% end %}
            </div>
            <div class="span7">
                <p>
                    <strong>{{ _(notify.title) }}</strong>
                    {{ notify.created.strftime("%I:%M%p %x") }}
                    <br />{{ notify.message }}
                </p>
            </div>
        </div>
        <hr style="margin-top: 4px; margin-bottom: 14px;">
        {% end %}
        </div>
    </div>
{% end %}