{% extends "../../main.html" %}

{% block header %}
    <script src="/static/js/libs/highcharts.js"></script>
    <script src="/static/js/libs/modules/exporting.js"></script>
{% end %} 

{% block title %}Scoreboard{% end %}

{% block content %}
    {% from models import Team %}
    <div class="well container">
        <div id="pie" >
            <!-- Pie Chart Here -->
        </div>
        <script>
            $(function () {
                var chart;
                $(document).ready(function() {
                    Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function(color) {
                        return {
                            radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                            stops: [
                                [0, color],
                                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')]
                            ]
                        };
                    });
                    chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'pie',
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            backgroundColor:'transparent'
                        },
                        title: {
                            text: '<strong>Current Bank Account Balance</strong>',
                            style: {
                                color: '#FFFFFF',
                                font: 'bold 16px "Trebuchet MS", Verdana, sans-serif',
                                'text-shadow': '-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black',
                            },
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <strong>{point.percentage}%</strong>',
                            percentageDecimals: 1
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    color: '#FFFFFF',
                                    connectorColor: '#FFFFFF',
                                    formatter: function() {
                                        return '<div style="font-size:small;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">'+
                                                this.point.name+' ($'+this.point.y+')</div>: '+(this.percentage).toString().slice(0,5)+'%';
                                    }
                                }
                            }
                        },
                        series: [{
                            type: 'pie',
                            name: 'Team Money',
                            data: [
                                    {% for team in Team.all() %}
                                        ['{{ team.name }}' , {{ team.money }}],
                                    {% end %}
                            ]
                        }]
                    });
                });
            });
            $(document).ready(function() {
                var ws = new WebSocket("ws://{{ handler.application.settings['ws_ip_address'] }}:{{ handler.application.settings['ws_port'] }}/scoreboard/game_data");
                ws.onmessage = function(event) {
                    update = jQuery.parseJSON(event.data);
                    console.log(update);
                    //piechart.series.setData();
                };
            });
        </script>
    </div>
{% end %}