{% extends "../main.html" %}

{% block title %}Federal Reserve{% end %}

{% block header %}
<script src="/static/js/terminal-0.4.22.min.js" type="text/javascript"></script>
<script src="/static/js/mousewheel-min.js" type="text/javascript"></script>
<link href="/static/css/terminal.css" rel="stylesheet" />
{% end %}

{% block content %}
    {% if user.has_item("Federal Reserve") %}
        {% include ../notifier.html %}

        <div class="container">
            <h1>Federal Reserve Bank</h1>
            <br />
            <div class="well" >
                <form id="csrf">
                    {% raw xsrf_form_html() %}
                </form>
                <h3>Mainframe Console</h3>
                <div id="console" style="width: auto; height: 500px;">
                </div>
            </div>
            <script>
                var password;
                function get_longest(line, diplay_buffer) {
                    tmp = []
                    for (var index = 0; index < display_buffer.length; index++) {
                        tmp.push(display_buffer[index][line]);
                    }
                    longest = tmp.reduce(function (a, b) {
                         return a.toString().length > b.toString().length ? a : b;
                    });
                    return longest.length;
                }
                function str_multi(str, num) {
                    if (num < 0) num =  0;
                    return num ? Array(num + 1).join(str) : "";
                }
                function print_info(term, message) {
                    term.echo("[[;#0066FF;#000]\[*\]] " + message.toString());
                }
                function print_error(term, message) {
                    term.echo("[[;#FF0000;#000]\[!\]] " + message.toString());
                }
                function print_data(term, display_buffer) {
                    col_widths = []
                    for (var index = 0; index < display_buffer[0].length; index++) {
                        col_widths[index] = get_longest(index, display_buffer);
                    }
                    div_str = "+"
                    for (var index = 0; index < col_widths.length; index++) {
                        div_str += "-" + str_multi("-", col_widths[index]) + "-";
                        div_str += "+";
                    }
                    for (var index = 0; index < display_buffer.length; index++) {
                        term.echo(div_str);
                        buf = "|";
                        for (var inner_index = 0; inner_index < display_buffer[index].length; inner_index++) {
                            info = display_buffer[index][inner_index].toString();
                            padding = col_widths[inner_index] - info.length;
                            buf = buf + " " + info + str_multi(" ", padding) + " ";
                            buf += "|";
                        }
                        term.echo(buf);
                    }
                    term.echo(div_str);
                }
                function attempt_xfer(term, password) {
                    var src_account = localStorage['src_account'];
                    var dest_account = localStorage['dest_account'];
                    var amount = localStorage['amount'];
                    var user = localStorage['user'];
                    if (src_account == undefined) {
                        print_error(term, "Source account is not defined");
                    } else if (dest_account == undefined) {
                        print_error(term, "Destination account is not defined");
                    } else if (user == undefined) {
                        print_error(term, "Authorized user is not defined");
                    } else if (amount == undefined) {
                        print_error(term, "Amount is not defined");
                    } else { 
                        print_info(term, "Souce account is set to '" + src_account + "'");
                        print_info(term, "Destination account is set to '" + dest_account + "'");
                        print_info(term, "Authorized user is set to '" + user + "'");
                        print_info(term, "Transfer amount is set to '" + src_account + "'");
                        print_info(term, "Attempting transfer " + src_account + " $" + amount.toString() + " -> " + dest_account);
                        args = {
                            '_xsrf': document.getElementsByName("_xsrf")[0].value,
                            'source': src_account, 
                            'destination': dest_account,
                            'user': user,
                            'amount': amount,
                            'password': password,
                        }
                        $.post('/federal_reserve/json/xfer', args, function(results) {
                            console.log(results);
                            term.echo(" ");
                            if (results == null) {
                                print_error(term, "ERROR: Malformed response from server");
                            } else {
                                if ('success' in results) {
                                    term.echo("[[b;#00FF00;]\[$\]] " + results['success']);
                                } else if ('error' in results) {
                                    print_error(term, "ERROR: " + results['error']);
                                } else {
                                    print_error(term, "ERROR: Unknown response from server");
                                }
                            }
                            term.echo(" ");
                        });
                    }
                }
                function greetings(term) {
                    term.pause();
                    var index = 0;
                    var frames = [
                        "Started bind handler",
                        "Automatically detecting the target...",
                        "Fingerprint: Winblows XP - Service Pack 7 - lang:Unknown",
                        "We could not detect the language pack, defaulting to English",
                        "Selected Target: Winblows XP SP7 English (AlwaysOn NX)",
                        "Attempting to trigger the vulnerability...",
                        "Sending stage (1337 bytes) to 192.268.57.131",
                        "Meterpreter session 1 opened (21.32.257.133:443 -> 192.268.57.131:1045)"
                    ];
                    function display(term, index) {
                        print_info(term, frames[index]);
                        index++;
                        if (index < frames.length) {
                            setTimeout(display, 750, term, index);
                        } else {
                            term.echo(" ");
                            term.resume();
                        }
                    }
                    display(term, index);
                }
                $('#console').terminal({
                        users: function(filter) {
                            term = this;
                            $.getJSON('/federal_reserve/json/ls?data=users', function(data) {
                                if ('users' in data) {
                                    users = data['users'];
                                    console.log(users);
                                    display_buffer = [];
                                    display_buffer[0] = ["id", "Name", "Algorithm", "Password"]
                                    var count = 1;
                                    $.each(users, function(key, val) {
                                        display_buffer[count] = [];
                                        display_buffer[count][0] = count;
                                        display_buffer[count][1] = key;
                                        display_buffer[count][2] = val["algorithm"];
                                        display_buffer[count][3] = val["password"];
                                        count += 1;
                                    });
                                    term.echo(" ");
                                    print_data(term, display_buffer);
                                } else {
                                    print_error(term, "ERROR: Request failed.")
                                }
                            });
                        },
                        accounts: function(filter) {
                            term = this;
                            $.getJSON('/federal_reserve/json/ls?data=accounts', function(data) {
                                if ('accounts' in data) {
                                    display_buffer = [];
                                    display_buffer[0] = ["id", "Account Name"];
                                    for (var index=0; index < data['accounts'].length; index++) {
                                        line = []
                                        line[0] = (index + 1).toString();
                                        line[1] = data['accounts'][index].toString();
                                        display_buffer[index + 1] = line;
                                    }
                                    term.echo(" ");
                                    print_data(term, display_buffer);
                                } else {
                                    print_error(term, "ERROR: Request failed.")
                                }
                            });
                        },
                        report: function() {
                            term = this;
                            term.echo(" ");
                            term.push(function(account_name) {
                                $.getJSON('/federal_reserve/json/info?account=' + account_name, function(data) {
                                    if ('error' in data) {
                                        print_error(term, "The account '" + account_name.toString() + "' does not exist");
                                    } else {
                                        term.echo(" ");
                                        term.echo(" [[b;;]******************************************]");
                                        term.echo(" [[b;;]Account Name:] " + data['name']);
                                        term.echo(" [[b;;]Balance:] $" + data['balance'].toString());
                                        term.echo(" [[b;;]Authorized person(s):]");
                                        for (var index = 0; index < data['users'].length; index++) {
                                            term.echo("\t\t" + (index + 1) + ". " + data['users'][index])
                                        }
                                        term.echo(" [[b;;]******************************************]");
                                        term.echo(" ");
                                    }
                                });
                                term.pop();
                            }, {
                                prompt: "[[;#990066;#000]\[?\]] Account Name: "
                            });
                        },
                        transfer: function() {
                            term = this;
                            term.echo(" ");
                            term.echo("[[b;;]*** TRANSFER FUNDS ***]");
                            term.echo(" ");
                            term.push(function(user) {
                                localStorage.setItem("user", user);
                                term.pop();
                                term.set_mask(true);
                                term.push(function(passwd) {
                                        attempt_xfer(term, passwd);
                                        term.set_mask(false);
                                        term.pop();
                                    }, {
                                        prompt: "\tPassword: ",
                                    }
                                );
                            }, {
                                prompt: "[[;#990066;#000]\[?\]] Authorized User: ",
                            });
                            term.push(function(amount) {
                                localStorage.setItem("amount", amount);
                                term.pop();
                            }, {
                                prompt: "[[;#990066;#000]\[?\]] Transfer Amount: $",
                            });
                            term.push(function(src_account) {
                                localStorage.setItem("src_account", src_account);
                                term.pop();
                            }, {
                                prompt: "[[;#990066;#000]\[?\]] Source Account Name (transfer from): ",
                            });
                            term.push(function(dest_account) {
                                localStorage.setItem("dest_account", dest_account);
                                term.pop();
                            }, {
                                prompt: "[[;#990066;#000]\[?\]] Destination Account Name (transfer to): "
                            });
                        },
                        help: function() {
                            this.echo(" ");
                            this.echo(" [[b;;]accounts] - Get a list of active bank accounts")
                            this.echo(" [[b;;]users]    - Get information on users")
                            this.echo(" [[b;;]report]   - Generate a report on an account")
                            this.echo(" [[b;;]transfer] - Transfer funds from one account to another")
                            this.echo(" ");
                        }
                    }, {
                        prompt: '[[u;;]meterpreter] > ',
                        name: 'console',
                        greetings: null,
                        tabcompletion: true,
                        onInit: function(term) {
                            greetings(term);
                        },
                    }
                );
            </script>
        </div>
    {% end %}
{% end %}
