{% extends "../main.html" %}

{% block title %}{{ _("Federal Reserve") }}{% end %}

{% block header %}
<script src="/static/js/libs/terminal.min.js" type="text/javascript"></script>
<script src="/static/js/libs/mousewheel-min.js" type="text/javascript"></script>
<script src="/static/js/pages/upgrades/federal_reserve.js" type="text/javascript"></script>
<link href="/static/css/terminal.css" rel="stylesheet" />
{% end %}

{% from tornado.options import options %}
{% block content %}
    {% if "Federal Reserve" in options.allowed_market_items and user.has_item("Federal Reserve") %}
        <div class="container">
            <h1>{{ _("Federal Reserve Bank") }}</h1>
            <br />
            <div class="well" >
                <form id="csrf">
                    {% raw xsrf_form_html() %}
                </form>
                <h3>
                    <i class="fa fa-terminal"></i>
                    {{ _("Mainframe Console") }}
                </h3>
                <div id="console" style="width: auto; height: 500px;">
                </div>
            </div>
        </div>
    {% end %}
{% end %}
