{% extends "../main.html" %}

{% block title %}User Index{% end %}

{% block content %}
    {% if user.has_item("Password Security") %}
        {% include ../notifier.html %}
        {% if user.next_algorithm() is not None %}
            <div class="container">
                <h1>Password Security</h1>
                <br />
                <div class="well">
                    <h3>Current algorithm: {{ user.algorithm.upper() }}</h3>
                    <br />
                    <form class="form-horizontal" action="/password_security" method="post" autocomplete="off">
                          {% raw xsrf_form_html() %}
                          <div class="control-group">
                            <label class="control-label" for="old_password">Current Password</label>
                            <div class="controls">
                                  <input name="old_password" id="old_password" placeholder="Current Password" type="password" />
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="new_password1">New Password</label>
                            <div class="controls">
                                  <input name="new_password1" id="new_password1" placeholder="New Password" type="password" />
                            </div>
                          </div>
                          <div class="control-group">
                            <label class="control-label" for="new_password2">Confirm New Password</label>
                            <div class="controls">
                                  <input name="new_password2" id="new_password2" placeholder="Confirm New Password" type="password" />
                            </div>
                          </div>
                          <div class="control-group">
                            <div class="controls">
                                  <button class="btn btn-primary" type="submit">
                                      Upgrade to {{ user.next_algorithm().upper() }} for ${{ cost }}
                                  </button>
                            </div>
                          </div>
                      </form>
                </div>
            </div>
        {% else %}
            <div class="container well">
                <h1>No upgrades left.</h1>
            </div>
        {% end %}
    {% else %}
        <h1>You do not own this upgrade.</h1>
    {% end %}
{% end %}
