{% extends "../main.html" %}

{% block title %}Source Code Market{% end %}

{% block content %}
   <!-- Buy Source Code -->
    <div id="buySourceCodeModal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Buy Source Code</h3>
        </div>
        <div class="modal-body">
            <form id="buy-src" class="form-horizontal" action="/source_code_market" method="post">
                {% raw xsrf_form_html() %}
                <input id="buy_box_uuid" type="hidden" name="box_uuid" value="" />
            </form>
            <p id="buy_dialog">
            	Are you sure you want to buy this code?
        	</p>
            <br />
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button class="btn btn-primary" type="button" onclick="document.forms['buy-src'].submit();">
                Buy
            </button>
        </div>
    </div><!-- End Modal -->
    <script>
        function buy_src(box_uuid, price) {
            $("#buy_box_uuid").val(box_uuid);
            msg = "Are you sure you want to buy this code for $" + price.toString() + "?";
            $("#buy_dialog").html(msg);
        }
    </script>
	<div class="container">
        <h1>Source Code Market</h1>
        <br />
        {% if errors is not None and len(errors) != 0 %}
            {% for error in errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <h4 class="alert-heading">ERROR</h4>
                    {{ error }}
                </div>
            {% end %}
        {% end %}
        <div class="well">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Box</th>
                        <th>Level</th>
                        <th>Price</th>
                        <th>File Name</th>
                        <th>MD5 Checksum</th>
                        <th><!-- Button --></th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, box in enumerate(boxes) %}
                    	<tr>
                            <td>{{ index + 1 }}</td>
                            <td>{{ box.name }}</td>
                            <td>{{ box.game_level.number }}</td>
                            <td>${{ box.source_code.price }}</td>
                            {% if len(box.source_code.file_name) < 25 %}
                                <td>{{ box.source_code.file_name }}</td>
                            {% else %}
                                <td>{{ box.source_code.file_name[:25] + "..." }}</td>
                            {% end %}
                            <td>{{ box.source_code.checksum }}</td>
                            {% if box.source_code in user.team.purchased_source_code %}
                                <td>
                                    <a class="btn btn-mini btn-success" data-toggle="modal"
                                       onclick="window.open('/source_code_market/download?uuid={{ box.uuid }}', '_newtab');">
                                        Download Souce Code
                                    </a>
                                </td>
                                {% else %}
                                <td>
                                    <a class="btn btn-mini" data-toggle="modal" href="#buySourceCodeModal"
                                        onclick="buy_src('{{ box.uuid }}', {{ box.source_code.price }})">
                                        Buy Source Code
                                    </a>
                                </td>
                            {% end %}
                    	</tr>
                    {% end %}
                </tbody>
            </table>
    	</div>
    </div>

{% end %}