{% extends "../../main.html" %}

{% block title %}Botnet History{% end %}

{% block header %}
    <script src="/static/js/libs/highcharts.js"></script>
    <script src="/static/js/libs/modules/exporting.js"></script>
{% end %} 

{% block content %}
	{% include ../../notifier.html %}
	<div class="container">
		<h1>Game History</h1>
		<br />
		<div class="navbar navbar-inverse">
		    <div class="navbar-inner">
			    <div class="container">
			    	<a class="brand" href="#">
			            History
			        </a>
			        <div class="nav-collapse collapse">
						<ul class="nav">
			              <li><a href="/scoreboard/history/flags">Flags</a></li>
			              <li><a href="/scoreboard/history/money">Money</a></li>
			              <li><a href="/scoreboard/history/bots">Bots</a></li>
			            </ul>
			        </div>
			    </div>
		    </div>
		</div>
		<div class="well" id="game_history" style="min-width: 500px; width:auto; height: 450px;">
			<!-- Graph goes here -->
		</div>
		<script>
			var chart;
			$(document).ready(function() {
				
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'game_history',
						type: 'line',
						backgroundColor:'transparent',
						zoomType: 'x',
					},
					title: {
							text: 'Team Botnets',
							style: {
	                            color: '#FFFFFF',
	                            font: 'bold 16px "Trebuchet MS", Verdana, sans-serif',
	                            'text-shadow': '-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black',
                        	},
					},
					xAxis: {
						type: 'datetime',
						title: {
							text: 'Time',
							style: {
	                            color: '#FFFFFF',
	                            font: 'bold 14px "Trebuchet MS", Verdana, sans-serif',
	                            'text-shadow': '-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black',
                        	},
						}
					},
					yAxis: {
						title: {
							text: 'Number of Bots',
							style: {
	                            color: '#FFFFFF',
	                            font: 'bold 14px "Trebuchet MS", Verdana, sans-serif',
	                            'text-shadow': '-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black',
                        	},
						}
					},
					tooltip: {
						enabled: true,
						formatter: function() {
							return '<strong>' + this.series.name + '</strong><br />' + this.y + ' bot(s)';
						}
					},
					plotOptions: {
						line: {
							dataLabels: {
								enabled: true
							},
							enableMouseTracking: true
						}
					},
					series: [
						{% for team in history %}
							{
								name: "{{ team }}",
								data: [
									{% for entry in history[team] %}
										[ {{ int(entry[0]) }}{{ " * 1000" }}, {{ entry[1] }} ],
									{% end %}
								]
							},
						{% end %}
					]
				});
			});

			function get_index_by_name(team_name) {
				for(var index = 0; index < chart.series.length; index++) {
					if (chart.series[index].name == team_name) {
						console.log("Existing series found for: " + team_name);
						return index;
					}
				}
				return undefined;
			}

			function plot_update(update) {
				console.log(update);
				timestamp = update['timestamp'] * 1000;
				for (var key in update['scoreboard']) {
					console.log("Updating: " + key);
					flags = update['scoreboard'][key]['flags'].length;
					index = get_index_by_name(key);
					if (index !== undefined) {
						var shift = (30 <= chart.series[index].data.length);
						var scores = [timestamp, flags];
						chart.series[index].addPoint(scores, true, shift);
					} else {
						create_series = {
							name: key,
							data: [
								[timestamp, flags],
							]
						}
						chart.addSeries(create_series);
					}
				}
			}
			$(document).ready(function() {
				console.log("Create ws callback");
		        var history_ws = new WebSocket("ws://{{ handler.application.settings['domain'] }}:{{ handler.application.settings['port'] }}/scoreboard/wsocket/game_history");
			    history_ws.onmessage = function (evt) {
			    	msg = jQuery.parseJSON(evt.data);
			        if ('error' in msg) {
			        	console.log(msg);
			        } else if ('history' in msg) {
			        	history = msg['history'];
			        	//plot_history(history);
			        } else if ('update' in msg) {
			        	plot_update(msg['update']);
			        } else {
			        	console.log("Error no opcode.");
			        }
			    };
		    });
		</script>
    </div>
{% end %}