# Bytecode
*.py[co]

# File uploads and what not
files/avatars/*-*
files/icons/*-*
files/shares/*-*
files/source_code_market/*-*
files/*.db
files/*.cfg

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# SSL Stuff
*.crt
*.key

# XML exports
*.xml

# SQLite3 databases
*.db

# Screen files
*.0

# Log files
*.log

# Installer logs
pip-log.txt

# Eclipse
.project
.pydevproject

# PyCharm
.idea/*

# OSX
.DS_Store

__pycache__
*/__pycache__