[Server]
# Web server listen port
# Debug mode provides stack traces, etc
# Set "domain" to your local ip/hostname
# Logging sets the log level; debug / info / warn
port = 8888
debug = True
logging = debug
domain = localhost
theme = cyborg.min.css
cache_files = True

[Sessions]
# Session settings
# Set session age, and what memcached server to use
memcached = 127.0.0.1
session_age = 1800
session_regeneration_interval = 1800

[Security]
# Comma separated list of ips that can access the admin interface
# For example: admin_ips = 127.0.0.1,192.168.0.25,10.34.0.2
# max_password_length is the number of chars a user can have
admin_ips = 127.0.0.1
max_password_length = 7

[Upgrades]
# Configure optional upgrade prices
password_upgrade = 1500
bribe_base_price = 1500

[Recaptcha]
# Recaptcha private key; get one at http://recaptcha.com
enable = off
private_key = 6LcJJ88SAAAAAPPAN72hppldxema3LI7fkw0jaIa

[Database]
# Set user/password to 'RUNTIME' to prompt for creds when the application starts
# Set log_sql to 'True' to log sql queries made by the ORM *very* verbose, and may
# contain sensitive information enable only when you need to debug problems
server = localhost
name = rtb
user = rtbUser
password = Ch4ngeMe
log_sql = False
