{% extends "../main.html" %}

{% block title %}Missions{% end %}

{% block header %}
<script src="/static/js/pages/missions/box.js"></script>
{% end %}

{% block modals %}
    <!-- Submit text flag -->
    <div id="capture-text-flag-modal" class="modal hide fade" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Submit Flag</h3>
        </div>
        <div class="modal-body">
            <form id="capture-text-flag-form" class="form-horizontal" method="post" action="/user/missions/capture">
                {% raw xsrf_form_html() %}
                <input id="capture-text-flag-uuid" name="uuid" value="" type="hidden" />
                <br />
                <div class="control-group">
                    <label class="control-label" for="flag-token">Flag</label>
                    <div class="controls">
                        <input autofocus required id="flag-token" name="token" type="text" placeholder="Flag" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="capture-text-flag-submit" class="btn btn-primary" type="button">
                Submit
            </button>
        </div>
    </div>
    <!-- Submit file flag -->
    <div id="capture-file-flag-modal" class="modal hide fade" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Submit Flag</h3>
        </div>
        <div class="modal-body">
            <form id="capture-file-flag-form" class="form-horizontal" method="post" action="/user/missions/capture" enctype="multipart/form-data" >
                {% raw xsrf_form_html() %}
                <input autofocus id="capture-file-flag-uuid" name="uuid" type="hidden" />
                <div class="control-group">
                    <br />
                    <label class="control-label" for="flag-file">Flag</label>
                    <div class="controls">
                        <input id="flag-file" name="flag" type="file" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="capture-file-flag-submit" class="btn btn-primary" type="button">
                Submit
            </button>
        </div>
    </div>
    <div id="purchase-hint-modal" class="modal hide fade" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Purchase Hint</h3>
        </div>
        <div class="modal-body">
            <br />
            <p id="purchase-hint-text"></p>
            <form id="purchase-hint-form" class="form-horizontal" method="post" action="/user/missions/hint">
                {% raw xsrf_form_html() %}
                <input id="purchase-hint-uuid" name="uuid" value="" type="hidden" />
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="purchase-hint-submit" class="btn btn-primary" type="button">
                Buy
            </button>
        </div>
    </div>
{% end %}

{% block content %}
    <!-- Visable -->
    <div class="container">
        <h1>
            {% if box.operating_system.lower() == 'windows' %}
                <i class="fa fa-windows"></i>
            {% elif box.operating_system.lower() == 'linux' %}
                <i class="fa fa-linux"></i>
            {% elif box.operating_system.lower() == 'apple' %}
                <i class="fa fa-apple"></i>
            {% else %}
                <i class="fa fa-question"></i>
            {% end %}
            {{ box.corporation.name }} - {{ box.name }}
        </h1>
        <br />
        {% if errors is not None and len(errors) != 0 %}
            {% for error in errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <h4 class="alert-heading">ERROR</h4>
                    {{ error }}
                </div>
            {% end %}
        {% end %}
        <div class="container">
            <div class="row">
                <div class="span4">
                    <img src="/avatars/{{ box.avatar }}" class="img-polaroid" />
                </div>
                <div class="span8">
                    <pre> *********************** BEGIN SECURE COMMUNIQUE ***********************
{{ box.description }}
&nbsp;***********************&nbsp;&nbsp;END SECURE COMMUNIQUE&nbsp;&nbsp;***********************</pre>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="well">
            <table class="table table-hover">
                <caption><h4> - Flags - </h4></caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Reward</th>
                        <th><!-- Submit --></th>
                    </tr>
                </thead>
                <tbody>
                    {% from models.Flag import FLAG_FILE %}
                    {% for index, flag in enumerate(box.flags) %}
                        {% if flag in team.flags %}
                            <tr class="success">
                        {% else %}
                            <tr>
                        {% end %}
                            <td>{{ box.flags.index(flag) +1 }}</td>
                            <td>{{ flag.name }}</td>
                            <td>{{ flag.description }}</td>
                            <td>${{ flag.value }}</td>
                            {% if flag in team.flags %}
                                <td><!-- Button --></td>
                            {% else %}
                                {% if flag.is_file %}
                                    <td>
                                        <a id="capture-file-flag-button{{ index }}" class="btn btn-mini" data-toggle="modal" href="#capture-file-flag-modal" data-uuid="{{ flag.uuid }}">
                                            <i class="fa fa-flag"></i>
                                            Submit
                                        </a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a id="capture-text-flag-button{{ index }}" class="btn btn-mini" data-toggle="modal" href="#capture-text-flag-modal" data-uuid="{{ flag.uuid }}">
                                            <i class="fa fa-flag"></i>
                                            Submit
                                        </a>
                                    </td>
                                {% end %}
                            {% end %}
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
        {% if len(box.visable_ips) != 0 %}
            <br />
            <div class="well">
                <table class="table table-hover">
                    <caption><h4> - Known IP Addresses - </h4></caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Address</th>
                            <th>IP Version</th>
                            <th>Private</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, ip in enumerate(box.visable_ips) %}
                            <tr>
                                <td>{{ index + 1 }}</td>
                                <td>{{ str(ip) }}</td>
                                <td>{{ ip.version }}</td>
                                <td>{{ str(ip.is_private) }}</td>
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        {% end %}
        {% if len(box.hints) != 0 %}
            <br />
            <div class="well">
                <table class="table table-hover">
                    <caption><h4> - Hints - </h4></caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Price</th>
                            <th><!-- Purchse/View Button --></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, hint in enumerate(box.hints) %}
                            <tr>
                                <td>{{ index + 1 }}</td>
                                {% if hint in team.hints %}
                                    <td><i>Purchased</i></td>
                                    <td>{{ hint.description }}</td>
                                {% else %}
                                    <td>${{ hint.price }}</td>
                                    <td>
                                        <a id="purchase-hint-button{{ index }}" class="btn btn-mini" data-toggle="modal" href="#purchase-hint-modal" data-price="{{ hint.price }}" data-uuid="{{ hint.uuid }}">
                                            Purchase
                                        </a>
                                    </td>
                                {% end %}
                            </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
            <br />
        {% end %}
    </div>
{% end %}