{% extends "../main.html" %}

{% block title %}{{ _("First Login") }}{% end %}

{% block header %}
<script src="/static/js/libs/terminal.min.js" type="text/javascript"></script>
<script src="/static/js/libs/mousewheel-min.js" type="text/javascript"></script>
<script src="/static/js/pages/missions/firstlogin.js" type="text/javascript"></script>
<link href="/static/css/terminal.css" rel="stylesheet" />
{% end %}

{% block content %}
{% from tornado.options import options %}
<div class="container">
    <br />
    <div class="well">
    <span style="float: right; padding-right: 6px; margin-top: -15px;"><button id="closebutton" type="button" class="close"><h2>×</h2></button></span>
        <h3>
            <i class="fa fa-globe"></i>
            {{ _("Incoming Transmission") }}
        </h3>
        <div class="terminalbg">
            <div class="terminalimage c-glitch" style="background-image: url('{{ options.story_character }}');">
                <div class="terminalimage c-glitch__img" style="background-image: url('{{ options.story_character }}');"></div>
                <div class="terminalimage c-glitch__img" style="background-image: url('{{ options.story_character }}');"></div>
                <div class="terminalimage c-glitch__img" style="background-image: url('{{ options.story_character }}');"></div>
                <div class="terminalimage c-glitch__img" style="background-image: url('{{ options.story_character }}');"></div>
                <div class="terminalimage c-glitch__img" style="background-image: url('{{ options.story_character }}');"></div>
            </div>
            <div class="terminaloverlay">
                <br/>
                <div id="console" class="consoleview"></div>
            </div>
        </div>
    </div>
</div>
{% end %}
