{% extends "../main.html" %}

{% block title %}Missions{% end %}

{% block content %}
    {% include ../notifier.html %}
    <!-- Unlock Level -->
    <div id="unlockLevelModal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Unlock Level</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="unlock-level" method="post" action="/user/missions/buyout">
                {% raw xsrf_form_html() %}
                <input id="level_uuid" name="uuid" value="" type="hidden" />
            </form>
            <p id="description">
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button class="btn btn-primary" type="button" onclick="document.forms['unlock-level'].submit();">
                Unlock
            </button>
        </div>
    </div>
    <script>
        function set_level_uuid (uuid, value) {
            $("#level_uuid").val(uuid.toString());
            $("#description").html("Would you like to unlock this level for $"+value.toString()+"?");
        }
    </script>
    <!-- Visable -->
    <div class="container">
        <h1>Missions</h1>
        <br />
        {% if errors is not None and len(errors) != 0 %}
             {% for error in errors %}
                <div class="alert alert-error">
                      <a class="close" data-dismiss="alert" href="#">&times;</a>
                      <h4 class="alert-heading">ERROR</h4>
                      {{ error }}
                </div>
              {% end %}
        {% end %}
        {% from models.GameLevel import GameLevel %}
        {% for level in GameLevel.all() %}

                <div class="well">
                    <h3 style="display:inline;">Level #{{ level.number }}&nbsp;&nbsp;&nbsp;</h3>
                    {% if len(team.level_flags(level.number)) != 0 %}
                        <div class="progress">
                            <div class="bar" style="width: {{ ( len(team.level_flags(level.number)) /  float(len(level.flags)) ) * 100.0 }}%;">
                                {{ len(team.level_flags(level.number)) }} / {{ len(level.flags) }}
                            </div>
                        </div>
                    {% end %}
                    {% if level in team.game_levels %}
                        <hr>
                        <div class="container">
                            {% for box in level.boxes[::3] %}
                                <div class="row">
                                    <div class="span3">
                                        <center>
                                            <a href="/user/missions/boxes?uuid={{ box.uuid }}">
                                                <h5> {{ box.corporation.name }}: {{ box.name }}</h5>
                                                <img src="/avatars/{{ box.avatar }}" class="img-polaroid" />
                                            </a>
                                        </center>
                                    </div>

                                    {% if level.boxes.index(box) + 1 < len(level.boxes) %}
                                        <div class="span3 offset1">
                                            <center>
                                                <a href="/user/missions/boxes?uuid={{ level.boxes[level.boxes.index(box) + 1].uuid }}">
                                                    <h5>{{ level.boxes[level.boxes.index(box) + 1].corporation.name }}: {{ level.boxes[level.boxes.index(box) + 1].name }}</h5>
                                                    <img src="/avatars/{{ level.boxes[level.boxes.index(box) + 1].avatar }}" class="img-polaroid" />
                                                </a>
                                            </center>
                                        </div>
                                    {% end %}
                                    {% if level.boxes.index(box) + 2 < len(level.boxes) %}
                                        <div class="span3 offset1">
                                            <center>
                                                <a href="/user/missions/boxes?uuid={{ level.boxes[level.boxes.index(box) + 2].uuid }}">
                                                    <h5>{{ level.boxes[level.boxes.index(box) + 2].corporation.name }}: {{ level.boxes[level.boxes.index(box) + 2].name }}</h5>
                                                    <img src="/avatars/{{ level.boxes[level.boxes.index(box) + 2].avatar }}" class="img-polaroid" />
                                                </a>
                                            </center>
                                        </div>
                                    {% end %}
                                </div>
                                <br />
                            {% end %}
                        </div>
                    {% else %}
                        <a class="btn" data-toggle="modal" href="#unlockLevelModal"
                            onclick="set_level_uuid('{{ level.uuid }}', '{{ level.buyout }}')">
                            Unlock
                        </a>
                        <hr>
                        <br />
                        <strong>
                            You do not have access to this level yet.
                        </strong>
                        <br />
                        <br />
                    {% end %}
                </div>
            {% end %}

    </div>
{% end %}