{% extends "../../main.html" %}

{% block title %}Game Levels{% end %}

{% block header %}
<script src="/static/js/pages/admin/view/game_levels.js"></script>
{% end %}

{% block modals %}
{% from tornado.options import options %}
{% from models.GameLevel import GameLevel %}
    <!-- Edit Level -->
    <div id="edit-game-level-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>
                <i class="fa fa-pencil"></i>
                Edit Level
            </h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="edit-game-level-form" method="post" action="/admin/edit/game_level">
                {% raw xsrf_form_html() %}
                <input id="game_level-uuid" name="uuid" type="hidden" />
                <input id="game_level-last_level" name="last_level" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="game_level-name">Level Name</label>
                    <div class="controls">
                        <input id="game_level-name" name="name" placeholder="Level Name" maxlength=32 />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="game_level-number">Game Level</label>
                    <div class="controls">
                        <input required id="game_level-number" name="number" pattern="[0-9]+" placeholder="Level Number" type="number" min=0 />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="game_level-reward">Completion Reward</label>
                    <div class="controls">
                        <input id="game_level-reward" name="reward" pattern="[0-9]+" placeholder="Reward" type="number" min=0 />
                    </div>
                </div>
                <div id="gametype" class="control-group">
                    <label class="control-label" for="game_level-type">Unlock Level</label>
                    <div class="controls">
                        <select id="game_level-type" name="type">
                            <option value="none">No Lock</option>
                            <option value="buyout">Purchase Unlock</option>
                            <option value="progress">Game Progress</option>
                        </select>
                    </div>
                </div>
                <div id="buyoutcost" class="control-group">
                    <label id="buyoutlabel" class="control-label" for="game_level-buyout">Unlock Cost</label>
                    <div class="controls">
                        <input id="game_level-buyout" name="buyout" pattern="[0-9]+" placeholder="" type="number" min=0 />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="edit-game-level-submit" class="btn btn-primary" type="button">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </div>
    <div id="delete-game-level-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><i class="fa fa-times-circle-o"></i> Delete Game Level</h3>
        </div>
        <div class="modal-body">
        <p>
            Are you sure you want to delete this game level? <br /> <br />
            <strong>WARNING:</strong>
            This will also delete boxes and flags associated with this level. <br />
        </p>
        <form id="delete-game-level-form" method="post" action="/admin/delete/game_level">
            {% raw xsrf_form_html() %}
            <input id="delete-game-level-uuid" name="uuid" type="hidden" value="" />
        </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="delete-game-level-submit" type="button" class="btn btn-danger">
                <i class="fa fa-times-circle-o"></i>
                Delete
            </button>
        </div>
    </div>
    <!-- Switch Level -->
    <div id="switch-level-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>
                <i class="fa fa-arrows-v"></i>
                Switch Level
            </h3>
        </div>
        <div class="modal-body">
            <form id="switch-level-form" class="form-horizontal" id="switch-level" method="post" action="/admin/edit/box_level">
                {% raw xsrf_form_html() %}
                <input id="box-uuid" name="box_uuid" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="game-level-uuid">Current Level</label>
                    <div class="controls">
                        <select id="game-level-uuid" name="level_uuid">
                            {% for level in GameLevel.all() %}
                                <option value="{{ level.uuid }}">{{ level.number }}</option>
                            {% end %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="switch-level-submit" class="btn btn-primary" type="button">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </div>
{% end %}

{% block content %}
{% from models.GameLevel import GameLevel %}
    <div class="container">
        {% if errors != None and len(errors) != 0 %}
            {% for error in errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <h4 class="alert-heading">ERROR</h4>
                    {{ error }}
                </div>
            {% end %}
        {% end %}
        <h1>
            <i class="fa fa-level-up"></i>
            Game Levels
        </h1>
        <br />
        {% for index, level in enumerate(GameLevel.all()) %}
            <div class="well">
                <h2 style="display:inline;">
                    {{ level.name }}
                </h2>
                {% if level._name %}<h4 style="display:inline;">(Level #{{ level.number }})</h4>{% end %}
                <a id="delete-game-level-button{{ index }}" style="float: right; margin-top: 5px; margin-right: 10px;" class="btn btn-small btn-danger" data-toggle="modal" href="#delete-game-level-modal" data-uuid="{{ level.uuid }}">
                    <i class="fa fa-times-circle-o"></i>
                    Delete Game Level
                </a>
                <a id="edit-game-level-button{{ index }}" style="float: right; margin-top: 5px; margin-right: 10px;" class="btn btn-small" data-toggle="modal" href="#edit-game-level-modal" data-uuid="{{ level.uuid }}">
                    <i class="fa fa-pencil"></i>
                    Edit Game Level
                </a>
                <div style="padding-left: 3px; margin-bottom: -10px;">
                    {% if level._type == "none" or level.buyout == 0 %}
                        <i class="fa fa-unlock-alt"></i> No Lock
                    {% elif level._type == "buyout" %}
                        <i class="fa fa-lock"></i> Unlocks for {% if options.banking %}${% end %}{{ level.buyout }}{% if not options.banking %} point(s){% end %}
                    {% else %}
                        {% set last = GameLevel.last_level(level.id) %}
                        <i class="fa fa-lock"></i> Unlocks after {{ level.buyout }}% completion of Level {% if last %}{{ last.number }}{% end %}
                    {% end %}
                    <span style="float: right; padding-right: 15px;"><strong>Reward: {{ level._reward }}</strong></span>
                </div>
                <hr />
                {% if len(level.boxes) != 0 %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Box Name</th>
                                <th class="shortcolumn">Number of Flags</th>
                                <th><!-- Switch Level --></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, box in enumerate(level.boxes) %}
                                <tr>
                                    <td class="shortcolumn">{{ index + 1 }}</td>
                                    <td>{{ box.name }}</td>
                                    <td class="shortcolumn" style="text-align: center;">{{ len(box.flags) }}</td>
                                    <td class="shortcolumn" style="margin-right: 10px;">
                                          <a id="switch-level-button{{ index }}" class="btn btn-mini" data-toggle="modal" href="#switch-level-modal" data-level-uuid="{{ level.uuid }}" data-box-uuid="{{ box.uuid }}">
                                            <i class="fa fa-arrows-v"></i>
                                            Switch Level
                                          </a>
                                    </td>
                                </tr>
                            {% end %}
                        </tbody>
                    </table>
                {% else %}
                    <strong>No boxes on this level yet, <a href="/admin/create/box">add some</a></strong>
                {% end %}
            </div>
        {% end %}
    </div>
{% end %}