{% extends "../../main.html" %}

{% block title %}Game Levels{% end %}

{% block content %}
    <!-- Edit Level -->
    <div id="editLevelModal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Edit Level</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="edit-level" method="post" action="/admin/edit/game_level">
                {% raw xsrf_form_html() %}
                <input id="game_level_uuid" name="uuid" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="game_level_number">Current Level</label>
                    <div class="controls">
                        <input required id="game_level_number" name="number" pattern="[0-9]+" placeholder="Level Number" type="text" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="game_level_buyout">Buyout</label>
                    <div class="controls">
                        <input required id="game_level_buyout" name="buyout" pattern="[0-9]+" placeholder="Buyout ($)" type="text" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button class="btn btn-primary" type="button" onclick="document.forms['edit-level'].submit();">
                Save
            </button>
        </div>
    </div>
    <!-- Switch Level -->
    <div id="switchLevelModal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Switch Level</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="switch-level" method="post" action="/admin/edit/box_level">
                {% raw xsrf_form_html() %}
                <input id="box_uuid" name="box_uuid" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="user_team_uuid">Current Level</label>
                    <div class="controls">
                        <select id="game_level_uuid" name="level_uuid">
                            {% from models import GameLevel %}
                            {% for level in GameLevel.all() %}
                                <option value="{{ level.uuid }}">{{ level.number }}</option>
                            {% end %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button class="btn btn-primary" type="button" onclick="document.forms['switch-level'].submit();">
                Save
            </button>
        </div>
    </div>
    <script>
        function switch_level(level_uuid, box_uuid) {
            $("#game_level_uuid").val(level_uuid);
            $("#box_uuid").val(box_uuid);
        }
        function get_details(obj, uuid) {
            $("#" + obj + "_uuid").val(uuid);
            $.getJSON('/admin/ajax/objects?uuid=' + uuid + '&obj=' + obj, function(data) {
                $.each(data, function(key, value) {
                    console.log("#" + obj + "_" + key + " -> " + value);
                    $("#" + obj + "_" + key).val(value);
                });
            });
        }
    </script>
    <div class="container">
        <h1>Game Levels</h1>
        <br />
        {% from models import GameLevel %}
        {% for level in GameLevel.all() %}
            <div class="well">
                <h2 style="display:inline;">Level #{{ level.number }}&nbsp;</h2>
                <h3 style="display:inline;">(Buyout ${{ level.buyout }})&nbsp;&nbsp;&nbsp;</h3>
                <a class="btn" data-toggle="modal" href="#editLevelModal" 
                    onclick="get_details('game_level', '{{ level.uuid }}')">
                    Edit Level
                </a>
                <br />
                <br />
                {% if len(level.boxes) != 0 %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Box Name</th>
                                <th>Number of Flags</th>
                                <th><!-- Switch Level --></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for box in level.boxes %}
                                <tr>
                                    <td>{{ level.boxes.index(box) + 1 }}</td>
                                    <td>{{ box.name }}</td>
                                    <td>{{ len(box.flags) }}</td>
                                    <td>
                                          <a class="btn btn-mini" data-toggle="modal" href="#switchLevelModal"
                                                onclick="switch_level('{{ level.uuid }}', '{{ box.uuid }}')">
                                            Switch Level
                                          </a>
                                    </td>
                                </tr>
                            {% end %}
                        </tbody>
                    </table>
                {% else %}
                    <strong>No boxes on this level yet, <a href="/admin/create/box">add some</a></strong>
                {% end %}
            </div>
        {% end %}
    </div>
{% end %}