{% extends "../../main.html" %}

{% block title %}Game Management{% end %}

{% block header %}
<script src="/static/js/pages/admin/view/game_objects.js"></script>
{% end %}

{% block modals %}
{% from models.Corporation import Corporation %}
{% from models.Box import Box %}
    <!-- Edit Corporation -->
    <div id="edit-corporation-modal" class="modal hide fade" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><i class="fa fa-fw fa-pencil"></i> Edit Corporation</h3>
        </div>
        <div class="modal-body">
            <form id="edit-corporation-form" class="form-horizontal" method="post" action="/admin/edit/corporation">
                {% raw xsrf_form_html() %}
                <input id="edit-corporation-uuid" name="uuid" value="" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="corporation_name">Name</label>
                    <div class="controls">
                        <input id="corporation-name" name="name" type="text" placeholder="Corporation Name" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="edit-corporation-submit" class="btn btn-primary" type="button">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </div>
    <div id="delete-corporation-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><i class="fa fa-fw fa-times-circle-o"></i> Delete Corporation</h3>
        </div>
        <div class="modal-body">
        <p>
            Are you sure you want to delete this corporation? <br />
            <br />
            <strong>WARNING:</strong> This will also delete associated IP addresses, boxes, and flags.
        </p>
        <form id="delete-corporation-form" method="post" action="/admin/delete/corporation">
            {% raw xsrf_form_html() %}
            <input id="delete-corporation-uuid" name="uuid" type="hidden" value="" />
        </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="delete-corporation-submit" type="button" class="btn btn-danger">
                <i class="fa fa-fw fa-times-circle-o"></i>
                Delete
            </button>
        </div>
    </div>
    <!-- Edit Box -->
    <div id="edit-box-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><i class="fa fa-fw fa-pencil"></i> Edit Box</h3>
        </div>
        <div class="modal-body">
            <form id="edit-box-form" class="form-horizontal" method="post" action="/admin/edit/box" enctype="multipart/form-data">
                {% raw xsrf_form_html() %}
                <input id="box-uuid" name="uuid" value="" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="box_name">Box Name</label>
                    <div class="controls">
                        <input id="box-name" name="name" type="text" placeholder="Box Name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="box_corporation">Corporation</label>
                    <div class="controls">
                        <select id="edit-box-corporation" name="corporation_uuid">
                            {% for corporation in Corporation.all() %}
                                <option value="{{ corporation.uuid }}">{{ corporation.name }}</option>
                            {% end %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="box_description">Description</label>
                    <div class="controls">
                        <textarea id="box-description" name="description" placeholder="Description" ></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="box_difficulty">Difficulty</label>
                    <div class="controls">
                        <input id="box-difficulty" name="difficulty" type="text" placeholder="Difficutly Rating" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="box_avatar">Avatar</label>
                    <div class="controls">
                        <input id="box-avatar" name="avatar" type="file" style="color:white;" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="edit-box-submit" type="button" class="btn btn-primary">
                <i class="fa fa-fw fa-save"></i>
                Save
            </button>
        </div>
    </div>
    <div id="delete-box-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><i class="fa fa-fw fa-times-circle-o"></i> Delete Box</h3>
        </div>
        <div class="modal-body">
        <p>
            Are you sure you want to delete this box? <br />
            <br />
            <strong>WARNING:</strong> This will also delete associated IP addresses and flags.
        </p>
        <form id="delete-box-form" method="post" action="/admin/delete/box">
            {% raw xsrf_form_html() %}
            <input id="delete-box-uuid" name="uuid" type="hidden" value="" />
        </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="delete-box-submit" type="button" class="btn btn-danger">
                <i class="fa fa-fw fa-times-circle-o"></i>
                Delete
            </button>
        </div>
    </div>
    <!-- Edit Flag -->
    <div id="edit-flag-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><i class="fa fa-fw fa-pencil"></i> Edit Flag</h3>
        </div>
        <div class="modal-body">
            <form id="edit-flag-form" class="form-horizontal" method="post" action="/admin/edit/flag">
                {% raw xsrf_form_html() %}
                <input id="flag-uuid" name="uuid" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="flag-name">Name</label>
                    <div class="controls">
                        <input id="flag-name" name="name" type="text" placeholder="Flag Name" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="flag-token">Token</label>
                    <div class="controls">
                        <input id="flag-token" name="token" type="text" placeholder="Token Value" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="flag-description">Description</label>
                    <div class="controls">
                        <input id="flag-description" name="description" type="text" placeholder="Description" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="flag-capture_message">Capture Message</label>
                    <div class="controls">
                        <textarea id="flag-capture_message" name="capture_message" placeholder="(Optional)">
                        </textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="flag-value">Value</label>
                    <div class="controls">
                        <input id="flag-value" name="value" type="text" placeholder="($) Reward Value" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="flag-box-uuid">Box</label>
                    <div class="controls">
                        <select id="edit-flag-box" name="box_uuid">
                            {% for box in Box.all() %}
                                <option value="{{ box.uuid }}">{{ box.name }}</option>
                            {% end %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="edit-flag-submit" type="button" class="btn btn-primary">
                <i class="fa fa-fw fa-save"></i>
                Save
            </button>
        </div>
    </div>
    <div id="delete-flag-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><i class="fa fa-fw fa-times-circle-o"></i> Delete Flag</h3>
        </div>
        <div class="modal-body">
        <p>
            Are you sure you want to delete this flag? <br />
        </p>
        <form id="delete-flag-form" method="post" action="/admin/delete/flag">
            {% raw xsrf_form_html() %}
            <input id="delete-flag-uuid" name="uuid" type="hidden" value="" />
        </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="delete-flag-submit" type="button" class="btn btn-danger">
                <i class="fa fa-fw fa-times-circle-o"></i>
                Delete
            </button>
        </div>
    </div>
    <!-- Edit Hint -->
    <div id="edit-hint-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><i class="fa fa-fw fa-pencil"></i> Edit Hint</h3>
        </div>
        <div class="modal-body">
            <form id="edit-hint-form" class="form-horizontal" method="post" action="/admin/edit/hint">
                {% raw xsrf_form_html() %}
                <input id="hint-uuid" name="uuid" value="" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="hint-price">Price</label>
                    <div class="controls">
                        <input id="hint-price" name="price" type="text" placeholder="$" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="hint-description">Description</label>
                    <div class="controls">
                        <input id="hint-description" name="description" type="text" placeholder="Description" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="edit-hint-submit" class="btn btn-primary" type="button">
                <i class="fa fa-fw fa-save"></i>
                Save
            </button>
        </div>
    </div>
    <div id="delete-hint-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><i class="fa fa-times-circle-o"></i> Delete Hint</h3>
        </div>
        <div class="modal-body">
        <p>
            Are you sure you want to delete this hint? <br />
        </p>
        <form id="delete-hint-form" method="post" action="/admin/delete/hint">
            {% raw xsrf_form_html() %}
            <input id="delete-hint-uuid" name="uuid" type="hidden" value="" />
        </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="delete-hint-submit" type="button" class="btn btn-danger">
                <i class="fa fa-fw fa-times-circle-o"></i>
                Delete
            </button>
        </div>
    </div>
    <!-- Add IP  -->
    <div id="add-ip-address-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>
                <i class="fa fa-fw fa-plus"></i>
                Add IP address
            </h3>
        </div>
        <div class="modal-body">
        <form id="add-ip-address-form" class="form-horizontal" method="post" action="/admin/edit/ip">
            {% raw xsrf_form_html() %}
            <input id="add-ip-address-uuid" name="box_uuid" type="hidden" />
            <div class="control-group">
                <label class="control-label" for="ip-address">New IP Address</label>
                <div class="controls">
                    <input autofocus id="ip-address" name="ip_address" type="text" placeholder="192.168.1.1" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input name="visable" value="true" type="checkbox" checked> Visable to Players
                    </label>
                </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="add-ip-address-submit" type="button" class="btn btn-primary">
                <i class="fa fa-fw fa-plus"></i>
                Add
            </button>
        </div>
    </div>
    <!-- Delete IP -->
    <div id="delete-ip-address-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>
                <i class="fa fa-fw fa-times-circle-o"></i>
                Delete IP Address
            </h3>
        </div>
        <div class="modal-body">
        <p>
            Are you sure you want to delete this IP address? <br />
        </p>
        <form id="delete-ip-address-form" method="post" action="/admin/delete/ip">
            {% raw xsrf_form_html() %}
            <input id="delete-ip-address-uuid" name="ip_uuid" type="hidden" value="" />
        </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="delete-ip-address-submit" type="button" class="btn btn-danger">
                <i class="fa fa-fw fa-times-circle-o"></i>
                Delete
            </button>
        </div>
    </div>
{% end %}

{% block content %}
{% from models.Corporation import Corporation %}
{% from models.Box import Box %}
    <!-- Start Visable -->
    <div class="row-fluid">
        <div class="span2" />
            <ul class="nav nav-tabs nav-stacked affix well">
                <center>
                    <strong>
                        <i class="fa fa-building-o"></i>
                        Corporations
                    </strong>
                </center>
                <br />
                {% for corporation in Corporation.all() %}
                    <li>
                        <a href="#{{ corporation.uuid }}">
                            <i class="icon-chevron-right"></i>
                            &nbsp;&nbsp;{{ corporation.name }}
                        </a>
                    </li>
                {% end %}
            </ul>
        </div>
        <div class="span10">
            <h1>
                <i class="fa fa-bullseye"></i>
                Target Management
            </h1>
            <br />
            {% if errors != None and len(errors) != 0 %}
                {% for error in errors %}
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        <h4 class="alert-heading">ERROR</h4>
                        {{ error }}
                    </div>
                {% end %}
            {% end %}
            {% for corp_index, corporation in enumerate(Corporation.all()) %}
                <div id="{{ corporation.uuid }}" class="well">
                    <h2 style="display:inline;">
                        <i class="fa fa-fw fa-building-o"></i>
                        {{ corporation.name }}&nbsp;&nbsp;
                    </h2>
                    <a id="edit-corporation-button{{ corp_index }}" class="btn btn-small" data-toggle="modal" href="#edit-corporation-modal" data-uuid="{{ corporation.uuid }}">
                        <i class="fa fa-fw fa-pencil"></i>
                        Edit Corp
                    </a>
                    <a id="delete-corporation-button{{ corp_index }}" class="btn btn-small btn-danger" data-toggle="modal" href="#delete-corporation-modal" data-uuid="{{ corporation.uuid }}">
                        <i class="fa fa-fw fa-times-circle-o"></i>
                        Delete Corp
                    </a>
                    <br />
                    <br />
                    {% if len(corporation.boxes) != 0 %}
                        {% for box in corporation.boxes %}
                            <div class="well">
                                <h3 style="display:inline;">
                                    <i class="fa fa-desktop"></i>
                                    {{ box.name }}&nbsp;&nbsp;
                                </h3>
                                    <a id="edit-box-button-{{ box.uuid }}" class="btn btn-small" data-toggle="modal" href="#edit-box-modal" data-uuid="{{ box.uuid }}" data-corporation-uuid="{{ box.corporation.uuid }}">
                                        <i class="fa fa-pencil"></i>
                                        Edit Box
                                    </a>
                                    <a id="delete-box-button-{{ box.uuid }}" class="btn btn-small btn-danger" data-toggle="modal" href="#delete-box-modal" data-uuid="{{ box.uuid }}">
                                        <i class="fa fa-times-circle-o"></i>
                                        Delete Box
                                    </a>
                                    <a style="float:right;" class="btn" data-toggle="modal" href="/admin/garbage?uuid={{ box.uuid }}" target="_blank">
                                        <i class="fa fa-fw fa-trash-o"></i>
                                        {{ box.name }} Garbage File
                                    </a>
                                <br />
                                <br />
                                <div class="row-fluid">
                                    <div class="span4">
                                        <img src="/avatars/{{ box.avatar }}" class="img-polaroid" />
                                        <br /><br />
                                    </div>
                                    <div class="span8">
                                        <h4 style="display:inline;">
                                            <i class="fa fa-fw fa-globe"></i>
                                            IP Address&nbsp;&nbsp;
                                        </h4>
                                        <a id="add-ip-address-button-{{ box.uuid }}" class="btn btn-primary btn-small" data-toggle="modal" href="#add-ip-address-modal" data-uuid="{{ box.uuid }}">
                                            <i class="fa fa-fw fa-plus"></i>
                                            Add IP Address
                                        </a>
                                        <br />
                                        <hr>
                                        {% if len(box.ip_addresses) != 0 %}
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Address</th>
                                                        <th>IP Version</th>
                                                        <th>Visable</th>
                                                        <th><!-- Delete --></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for index, ip in enumerate(box.ip_addresses) %}
                                                        <tr>
                                                            <td>{{ index + 1 }}</td>
                                                            <td>{{ ip.address }}</td>
                                                            <td>{{ ip.version }}</td>
                                                            <td>{% if ip.visable %} Yes {% else %} No {% end %}</td>
                                                            <td>
                                                                <a id="delete-ip-address-button-{{ ip.uuid }}" class="btn btn-danger btn-mini" data-toggle="modal" href="#delete-ip-address-modal" data-uuid="{{ ip.uuid }}">
                                                                    <i class="fa fa-fw fa-times-circle-o"></i>
                                                                    Delete
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% end %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <strong>No Addresses</strong>
                                        {% end %}
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <h4 style="display:inline;">
                                        <i class="fa fa-flag-o"></i>
                                        Flags on {{ box.name }}&nbsp;&nbsp;&nbsp;
                                    </h4>
                                    <a class="btn btn-primary btn-mini" data-toggle="modal" href="/admin/create/flag">
                                        <i class="fa fa-plus"></i>
                                        Add Flags
                                    </a>
                                    <hr>
                                    {% if len(box.flags) != 0 %}
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Token</th>
                                                    <th>Value</th>
                                                    <th>Attachments</th>
                                                    <th>Type</th>
                                                    <th><!-- Edit Button --></th>
                                                    <th><!-- Delete Button --></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for index, flag in enumerate(box.flags) %}
                                                    <tr>
                                                        <td>{{ index + 1 }}</td>
                                                        <td>{{ flag.name }}</td>
                                                        <td>{{ flag.description }}</td>
                                                        <td>{{ flag.token }}</td>
                                                        <td>${{ flag.value }}</td>
                                                        <td>
                                                            <a id="flag-attachment-button-{{ flag.uuid }}" class="btn btn-mini" data-toggle="modal" href="#flag-attachment-button" data-uuid="{{ flag.uuid }}">
                                                                <i class="fa fa-fw"></i>
                                                                {{ len(flag.flag_attachments) }}
                                                            </a>
                                                        </td>
                                                        <td>{{ str(flag._type) }}</td>
                                                        <td>
                                                            <a id="edit-flag-button-{{ flag.uuid }}" class="btn btn-mini" data-toggle="modal" href="#edit-flag-modal" data-uuid="{{ flag.uuid }}" data-box-uuid="{{ flag.box.uuid }}">
                                                                <i class="fa fa-fw fa-pencil"></i>
                                                                Edit Flag
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a id="delete-flag-button-{{ flag.uuid }}" class="btn btn-danger btn-mini" data-toggle="modal" href="#delete-flag-modal" data-uuid="{{ flag.uuid }}">
                                                                <i class="fa fa-fw fa-times-circle-o"></i>
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% end %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <strong>No flags on this box yet, <a href="/admin/create/flag">add some</a></strong>
                                    {% end %}
                                </div>
                                <br />
                                <div>
                                    <h4 style="display:inline;">
                                        <i class="fa fa-ambulance"></i>
                                        Hints on {{ box.name }}&nbsp;&nbsp;&nbsp;
                                    </h4>
                                    <a class="btn btn-primary btn-mini" data-toggle="modal" href="/admin/create/hint">
                                        <i class="fa fa-plus"></i>
                                        Add Hint
                                    </a>
                                    <hr>
                                    {% if len(box.hints) != 0 %}
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Price</th>
                                                    <th>Description</th>
                                                    <th><!-- Edit Button --></th>
                                                    <th><!-- Delete Button --></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for index, hint in enumerate(box.hints) %}
                                                    <tr>
                                                        <td>{{ index + 1 }}</td>
                                                        <td>${{ hint.price }}</td>
                                                        <td>{{ hint.description }}</td>
                                                        <td>
                                                            <a id="edit-hint-button-{{ hint.uuid }}" class="btn btn-mini" data-toggle="modal" href="#edit-hint-modal" data-uuid="{{ hint.uuid }}" data-box-uuid="{{ hint.box.uuid }}">
                                                                <i class="fa fa-fw fa-pencil"></i>
                                                                Edit Hint
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a id="delete-hint-button-{{ hint.uuid }}" class="btn btn-danger btn-mini" data-toggle="modal" href="#delete-hint-modal" data-uuid="{{ hint.uuid }}">
                                                                <i class="fa fa-fw fa-times-circle-o"></i>
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% end %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <strong>No hints on this box yet, <a href="/admin/create/hint">add some</a></strong>
                                    {% end %}
                                </div><!-- End Hints -->
                            </div>
                            <br />
                        {% end %}
                    {% else %}
                        <strong>No boxes in this corporation yet, <a href="/admin/create/box">add some</a></strong>
                    {% end %}
                </div>
            {% end %}
        </div>
    </div>
{% end %}