{% extends "../../main.html" %}

{% block title %}Statistics{% end %}

{% block header %}
<script src="/static/js/pages/admin/view/statistics.js"></script>
<script src="/static/js/pages/anchor.js"></script>
{% end %}

{% block modals %}
{% from tornado.options import options %}
{% from models.Flag import Flag %}
    <!-- View Details -->
    <div id="details-flag-modal" class="modal hide fade" style="display: none;">
        <div class="modal-header" style="padding-bottom: 0; margin-bottom: 0;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><i class="fa fa-fw fa-flag"></i> Flag Details</h3>
            <h5>
                <table class="table">
                    <tbody id="details-flag"></tbody>
                </table>
            </h5>
        </div>
        <div class="modal-body" style="padding-top: 0; margin-top: -20px;">
            <h4><i class="fa fa-fw fa-check"></i> Captures</h4>
            <div class="well" style="padding-bottom: 0px;">
                <table class="table table-striped">
                    <tbody id="details-captures"></tbody>
                </table>
            </div>
            <h4><i class="fa fa-fw fa-times"></i> Attempts</h4>
            <div class="well" style="padding-bottom: 0px;">
                <table class="table table-striped">
                    <tbody id="details-attempts"></tbody>
                </table>
            </div>
            <h4>&nbsp;<i class="fa fa-fw fa-medkit"></i> Hints</h4>
            <div class="well" style="padding-bottom: 0px;">
                <table class="table table-striped">
                    <tbody id="details-hints"></tbody>
                </table>
            </div>
        </div>
    </div>
{% end %}

{% block content %}
{% from models.Corporation import Corporation %}
{% from models.Penalty import Penalty %}
{% from models.Hint import Hint %}
{% from models.Team import Team %}
{% from models.Box import Box %}
    <!-- Start Visable -->
    <div class="row-fluid">
        <div class="span2">
            <ul class="nav nav-tabs nav-stacked affix well">
                {% if len(Corporation.all()) > 1 %}
                    <center>
                        <strong>
                            <i class="fa fa-building-o"></i>
                            Corporations
                        </strong>
                    </center>
                    <br />
                    {% for corporation in Corporation.all() %}
                        <li>
                            <a href="#{{ corporation.uuid }}">
                                <i class="icon-chevron-right"></i>
                                &nbsp;&nbsp;{{ corporation.name }}
                            </a>
                        </li>
                    {% end %}
                <br/>
                {% end %}
                <center>
                    <strong>
                        <i class="fa fa-th"></i>
                        Boxes
                    </strong>
                </center>
                <br />
                {% for box in Box.all() %}
                    <li>
                        <a href="#{{ box.uuid }}">
                            <i class="icon-chevron-right"></i>
                            &nbsp;&nbsp;{{ box.name }}
                        </a>
                    </li>
                {% end %}
            </ul>
        </div>
        <div class="span10">
            <h1>
                <i class="fa fa-star-o"></i>
                Statistics
            </h1>
            <br />
            {% if errors != None and len(errors) != 0 %}
                {% for error in errors %}
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        <h4 class="alert-heading">ERROR</h4>
                        {{ error }}
                    </div>
                {% end %}
            {% end %}
            {% for corp_index, corporation in enumerate(Corporation.all()) %}
            {% if len(Corporation.all()) > 1 %}
                <div id="{{ corporation.uuid }}" class="well">
                    
                    <h2 style="display:inline;">
                        <i class="fa fa-fw fa-building-o"></i>
                        {{ corporation.name }}&nbsp;&nbsp;
                    </h2>
                    
                    <br />
                    <br />
            {% end %}
                    {% if len(corporation.boxes) != 0 %}
                        {% for box in corporation.boxes %}
                            <div id="{{ box.uuid }}" class="well">

                               
                                <div>
                                    <h4 style="display:inline;">
                                        <i class="fa fa-flag-o"></i>
                                        Flags on {{ box.name }}&nbsp;&nbsp;&nbsp;
                                    </h4>
                                    {% if len(Hint.taken_by_box(box.id)) > 0 %}<div style="float: right; vertical-align: bottom;">Box Hints Taken: <span style="color: rgb(200,200,0);">{{ len(Hint.taken_by_box(box.id)) }}</span></div>{% end %}
                                    <hr>
                                    {% if len(box.flags) != 0 %}
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Box</th>
                                                    <th><!-- Flag Lock --></th>
                                                    <th>Name</th>
                                                    <th class="shortcolumn" style="width: 15%; text-align: center;">Capture Rate</th>
                                                    <th class="shortcolumn" style="width: 15%; text-align: center;">Successful Captures</th>
                                                    <th class="shortcolumn" style="width: 15%; text-align: center;">Failed Attempts</th>
                                                    <th class="shortcolumn" style="width: 15%; text-align: center;">Hints Taken</th>
                                                    <th><!-- Edit Button --></th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% set teamcount = len(Team.all()) %}
                                                {% for index, flag in enumerate(box.flags) %}
                                                    <tr>
                                                        {% set captures = len(Flag.captures(flag.id)) %}
                                                        <td class="shortcolumn">{{ index + 1 }}</td>
                                                        <td class="shortcolumn">{{ flag.box.name }}</td>
                                                        <td class="shortcolumn" style="padding-right: 0px;">{% if flag.lock_id %}<i class="fa fa-lock" title="Locked by {{ Flag.by_id(flag.lock_id).name }}"></i>{% end %}</td>
                                                        <td style="width: 40%; padding-right: 25px;" title="{{flag.description}}">{{ flag.name }}</td>
                                                        <td class="shortcolumn" style="text-align: center;">{% if captures > 0 %}{{ int(float(captures) / float(teamcount) * 100) }}%{% else %}0%{% end %}</td>
                                                        <td class="shortcolumn" style="text-align: center;{% if captures > 0 %} color: green;{% end %}">{{ captures }}</td>
                                                        <td class="shortcolumn" style="text-align: center;{% if len(Penalty.by_flag_id(flag.id)) > 0 %} color: rgb(200, 0, 0);{% end %}">{{ len(Penalty.by_flag_id(flag.id)) }}</td>
                                                        <td class="shortcolumn" style="text-align: center;{% if len(Hint.taken_by_flag(flag.id)) > 0 %} color: rgb(200, 200, 0);{% end %}">{{ len(Hint.taken_by_flag(flag.id)) }}</td>
                                                        
                                                        <td class="shortcolumn">
                                                            <a id="details-flag-button-{{ flag.uuid }}" class="btn btn-mini" data-toggle="modal" href="#details-flag-modal" data-uuid="{{ flag.uuid }}" data-box-uuid="{{ flag.box.uuid }}" title="{{flag.token}}">
                                                                <i class="fa fa-fw fa-eye"></i>
                                                                View Details
                                                            </a>
                                                        </td>
                                                       
                                                    </tr>
                                                {% end %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <strong>No flags on this box yet, <a href="/admin/create/flag">add some</a></strong>
                                    {% end %}
                                </div>
                                
                            </div>
                            <br />
                        {% end %}
                    {% else %}
                        <strong>No boxes in this corporation yet, <a href="/admin/create/box">add some</a></strong>
                    {% end %}
                {% if len(Corporation.all()) > 1 %}
                </div>
                {% end %}
            {% end %}
        </div>
    </div>
{% end %}