{% extends "../../main.html" %}

{% block title %}View Teams{% end %}

{% block content %}
    <!-- Edit Team -->
    <div id="editTeamModal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Edit Team</h3>
        </div>
        <div class="modal-body">
        <form id="edit-team" class="form-horizontal" method="post" action="/admin/edit/team">
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="team_name">Team Name</label>
                <div class="controls">
                  <input id="team_name" name="team_name" type="text" placeholder="Team Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="team_motto">Team Motto</label>
                <div class="controls">
                  <input id="team_motto" name="team_motto" type="text" placeholder="Team Name">
                </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
    <!-- Edit User -->
    <div id="editUserModal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Edit User</h3>
        </div>
        <div class="modal-body">
        <form id="edit-team" class="form-horizontal" method="post" action="/admin/edit/user">
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="account">Account</label>
                <div class="controls">
                  <input id="account" name="account" type="text" placeholder="Account Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="handle">Handle</label>
                <div class="controls">
                  <input id="handle" name="handle" type="text" placeholder="Handle">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="algorithm">Hash Algorithm</label>
                <div class="controls">
                    <select id="algorithm" name="algorithm">
                        <option value=""></option>
                        <option value="md5">MD5</option>
                        <option value="sha1">SHA1</option>
                        <option value="sha256">SHA-256</option>
                        <option value="scrypt">Scrypt</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="team">Team</label>
                <div class="controls">
                    <select id="team" name="team">
                        <option value=""></option>
                        {% from models import Team %}
                        {% for team in Team.all() %}
                            <option value="{{ team.uuid }}">{{ team.name }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
    <!-- Start Visable -->
    <h1>User Objects</h1>
    <br />
    {% from models import Team %}
    {% for team in Team.all() %}
        <div class="well">
            <h2 style="display:inline;">{{ team.name }}&nbsp;&nbsp;</h2>
            <h3 style="display:inline;">&quot;{{ team.motto }}&quot;&nbsp;&nbsp;</h3>
            <a class="btn btn-primary" data-toggle="modal" href="#editTeamModal">
                 Edit Team
            </a>
            <br />
            <h3>Members of {{ team.name }}</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Handle</th>
                        <th>Hash Algorithm</th>
                        <th><!-- Edit Button --></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in team.members %}
                        <tr>
                            <td>{{ user.account }}</td>
                            <td>{{ user.handle }}</td>
                            <td>{{ user.algorithm }}</td>
                            <td>
                              <a class="btn btn-mini" data-toggle="modal" href="#editUserModal">
                                Edit User
                              </a>
                            </td>
                        </tr>
                    {% end %}
                </tbody>
            </table>
        </div>
    {% end %}
{% end %}