{% extends "../../main.html" %}

{% block title %}User Objects{% end %}

{% block content %}
    <!-- Edit Team -->
    <div id="editTeamModal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Edit Team</h3>
        </div>
        <div class="modal-body">
            <form id="edit-team" class="form-horizontal" method="post" action="/admin/edit/team">
                {% raw xsrf_form_html() %}
                <input id="team_uuid" name="uuid" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="team_name">Team Name</label>
                    <div class="controls">
                        <input required id="team_name" name="name" type="text" placeholder="Team Name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="team_motto">Team Motto</label>
                    <div class="controls">
                        <input required id="team_motto" name="motto" type="text" placeholder="Team Motto">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button type="button" class="btn btn-primary" onclick="document.forms['edit-team'].submit();">Save</button>
        </div>
    </div>
    <!-- Edit User -->
    <div id="editUserModal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Edit User</h3>
        </div>
        <div class="modal-body">
            <form id="edit-user" class="form-horizontal" method="post" action="/admin/edit/user">
                {% raw xsrf_form_html() %}
                <input id="user_uuid" name="uuid" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="user_handle">Handle</label>
                    <div class="controls">
                      <input id="user_handle" name="handle" type="text" placeholder="Handle">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user_hash_algorithm">Hash Algorithm</label>
                    <div class="controls">
                        <select id="user_hash_algorithm" name="hash_algorithm">
                            <option value="md5">MD5</option>
                            <option value="sha1">SHA1</option>
                            <option value="sha256">SHA-256</option>
                            <option value="sha512">SHA-512</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user_password">Account Password</label>
                    <div class="controls">
                        <input id="user_password" name="password" type="password" placeholder="New Password">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="bank_password">Bank Password</label>
                    <div class="controls">
                        <input id="bank_password" name="bank_password" type="password" placeholder="New Bank Password">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user_team_uuid">Team</label>
                    <div class="controls">
                        <select id="user_team_uuid" name="team_uuid">
                            <option value=""></option>
                            {% from models import Team %}
                            {% for team in Team.all() %}
                                <option value="{{ team.uuid }}">{{ team.name }}</option>
                            {% end %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button type="button" class="btn btn-primary" onclick="document.forms['edit-user'].submit();">Save</button>
        </div>
    </div>
    <form id="lock_form" action="/admin/lock" method="post">
        {% raw xsrf_form_html() %}
        <input id="lock_uuid" name="uuid" type="hidden" />
    </form>
    <script>
        function get_details(obj, uuid) {
            $("#" + obj + "_uuid").val(uuid);
            $.getJSON('/admin/ajax/objects?uuid=' + uuid + '&obj=' + obj, function(data) {
                $.each(data, function(key, value) {
                    $("#" + obj + "_" + key).val(value);
                });
            });
        }
        function toggle_lock(uuid) {
            document.getElementById("lock_uuid").value = uuid;
            document.getElementById("lock_form").submit();
        }
    </script>
    <!-- Start Visable -->
    <div class="row-fluid">
        <div class="span10 offset1">
            <h1>User Objects</h1>
            <br />
            {% if errors is not None and len(errors) != 0 %}
                {% for error in errors %}
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        <h4 class="alert-heading">ERROR</h4>
                        {{ error }}
                    </div>
                {% end %}
            {% end %}
            {% from models import Team %}
            {% for team in Team.all() %}
                <div class="well">
                    <h2 style="display:inline;">{{ team.name }}&nbsp;&nbsp;</h2>
                    <h3 style="display:inline;">&quot;{{ team.motto }}&quot;&nbsp;&nbsp;</h3>
                    <a class="btn btn-primary" data-toggle="modal" href="#editTeamModal" 
                        onclick="get_details('team', '{{ team.uuid }}')">
                        Edit Team
                    </a>
                    <br />
                    <h3>Members of {{ team.name }}</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Handle</th>
                                <th>Last Login</th>
                                <th>Hash Algorithm</th>
                                <th>Password Hash</th>
                                <th><!-- Lock Button --></th>
                                <th><!-- Edit Button --></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, user in enumerate(team.members) %}
                                {% if user.locked %}
                                    <tr class="error">
                                {% else %}
                                    <tr>
                                {% end %}
                                    <td>{{ index + 1}}</td>
                                    <td>{{ user.handle }}</td>
                                    {% if 0 < user.logins %}
                                        <td>{{ user.last_login }}</td>
                                    {% else %}
                                        <td>Never</td>
                                    {% end %}
                                    <td>{{ user.algorithm }}</td>
                                    {% if 40 < len(user.bank_password) %}
                                        <td><a onclick="alert('{{ user.bank_password }}');">{{ user.bank_password[:40] }}...</a></td>
                                    {% else %}
                                        <td>{{ user.bank_password }}</td>
                                    {% end %}
                                    <td>
                                        {% if user.locked %}
                                            <a id="{{ 'lock_button_' + user.uuid }}" 
                                            class="btn btn-mini btn-success" 
                                            onclick="toggle_lock('{{ user.uuid }}')">
                                                Unlock Account
                                            </a>
                                        {% else %}
                                            <a id="{{ 'lock_button_' + user.uuid }}"
                                            class="btn btn-mini btn-danger" 
                                            onclick="toggle_lock('{{ user.uuid }}')">
                                                Lock Account
                                            </a>
                                        {% end %}
                                    </td>
                                    <td>
                                        <a class="btn btn-mini" data-toggle="modal" href="#editUserModal" 
                                            onclick="get_details('user', '{{ user.uuid }}')">
                                            Edit User
                                        </a>
                                    </td>
                                </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            {% end %}
        </div>
    </div>
{% end %}