{% extends "../../main.html" %}

{% block title %}User Management{% end %}

{% block header %}
<script src="/static/js/pages/admin/users.js"></script>
{% end %}

{% block modals %}
{% from models.Team import Team %}
    <!-- Edit Team -->
    <div id="edit-team-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>
                <i class="fa fa-fw fa-pencil"></i>
                Edit Team
            </h3>
        </div>
        <div class="modal-body">
            <form id="edit-team-form" class="form-horizontal" method="post" action="/admin/users/edit/team">
                {% raw xsrf_form_html() %}
                <input id="team-uuid" name="uuid" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="team-name">Team Name</label>
                    <div class="controls">
                        <input required id="team-name" name="name" type="text" placeholder="Team Name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="team-motto">Team Motto</label>
                    <div class="controls">
                        <input required id="team-motto" name="motto" type="text" placeholder="Team Motto">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="team-money">Bank Account</label>
                    <div class="controls">
                        <input required id="team-money" name="money" type="text" placeholder="Bank Account">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="edit-team-submit" type="button" class="btn btn-primary">
                <i class="fa fa-fw fa-save"></i>
                Save
            </button>
        </div>
    </div>
    <!-- Edit User -->
    <div id="edit-user-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>
                <i class="fa fa-fw fa-pencil"></i>
                Edit User
            </h3>
        </div>
        <div class="modal-body">
            <form id="edit-user-form" class="form-horizontal" method="post" action="/admin/users/edit/user">
                {% raw xsrf_form_html() %}
                <input id="user-uuid" name="uuid" type="hidden" />
                <div class="control-group">
                    <label class="control-label" for="user-handle">Handle</label>
                    <div class="controls">
                      <input id="user-handle" name="handle" type="text" placeholder="Handle">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user-hash-algorithm">Hash Algorithm</label>
                    <div class="controls">
                        <select id="user-hash-algorithm" name="hash_algorithm">
                            <option value="md5">MD5</option>
                            <option value="sha1">SHA1</option>
                            <option value="sha256">SHA-256</option>
                            <option value="sha512">SHA-512</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="bank-password">Bank Password</label>
                    <div class="controls">
                        <input id="bank-password" name="bank_password" type="password" placeholder="New Bank Password">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user-password">Account Password</label>
                    <div class="controls">
                        <input id="user-password" name="password" type="password" placeholder="New Password">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user-team-uuid">Team</label>
                    <div class="controls">
                        <select id="user-team-uuid" name="team_uuid">
                            <option value=""></option>
                            {% for team in Team.all() %}
                                <option value="{{ team.uuid }}">{{ team.name }}</option>
                            {% end %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="edit-user-submit" type="button" class="btn btn-primary">
                <i class="fa fa-fw fa-save"></i>
                Save
            </button>
        </div>
    </div>
    <div id="delete-user-modal" class="modal hide fade" style="display: none; ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3><i class="fa fa-fw fa-times-circle-o"></i> Delete User</h3>
        </div>
        <div class="modal-body">
        <p>
            Are you sure you want to delete this user? <br />
        </p>
        <form id="delete-user-form" method="post" action="/admin/users/delete/user">
            {% raw xsrf_form_html() %}
            <input id="delete-user-uuid" name="uuid" type="hidden" value="" />
        </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <button id="delete-user-submit" type="button" class="btn btn-danger">
                <i class="fa fa-fw fa-times-circle-o"></i>
                Delete
            </button>
        </div>
    </div>
{% end %}

{% block content %}
{% from models.Team import Team %}
    <!-- Lock Form -->
    <form id="lock-user-form" action="/admin/lock" method="post">
        {% raw xsrf_form_html() %}
        <input id="lock-user-uuid" name="uuid" type="hidden" />
    </form>
    <!-- Start Visable -->
    <div class="row-fluid">
        <div class="span10 offset1">
            <h1>
                <i class="fa fa-fw fa-group"></i>
                User Management
            </h1>
            <br />
            {% if errors is not None and len(errors) != 0 %}
                {% for error in errors %}
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        <h4 class="alert-heading">ERROR</h4>
                        {{ error }}
                    </div>
                {% end %}
            {% end %}
            {% if len(Team.all()) == 0 %}
                <p class="well"><strong>No Users</strong></p>
            {% end %}
            {% for team_index, team in enumerate(Team.all()) %}
                <div class="well">
                    <h2 style="display:inline;"> {{ team.name }}&nbsp;&nbsp;</h2>
                    <h4 style="display:inline;">
                        ${{ team.money }}
                    </h4>
                    <a id="edit-team-button{{ team_index }}" class="btn btn-small" data-toggle="modal" href="#edit-team-modal" data-uuid="{{ team.uuid }}" style="float:right;">
                        <i class="fa fa-fw fa-pencil"></i>
                        Edit Team
                    </a>
                    <hr />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Handle</th>
                                <th>Last Login</th>
                                <th>Hash Algorithm</th>
                                <th>Password Hash</th>
                                <th><!-- Lock Button --></th>
                                <th><!-- Edit Button --></th>
                                <th><!-- Delete Button --></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, user in enumerate(team.members) %}
                                {% if user.locked %}
                                    <tr class="error">
                                {% else %}
                                    <tr>
                                {% end %}
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ user.handle }}</td>
                                    {% if 0 < user.logins %}
                                        <td>{{ user.last_login }}</td>
                                    {% else %}
                                        <td>Never</td>
                                    {% end %}
                                    <td>{{ user.algorithm }}</td>
                                    {% if 40 < len(user.bank_password) %}
                                        <td>
                                            <a id="reveal-hash-button-{{ user.uuid }}" data-bank-hash="{{ user.bank_password }}">
                                                {{ user.bank_password[:40] }}...
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>{{ user.bank_password }}</td>
                                    {% end %}
                                    <td>
                                        {% if user.locked %}
                                            <a id="lock-user-button-{{ user.uuid }}" class="btn btn-mini btn-success" data-uuid="{{ user.uuid }}">
                                                <i class="fa fa-fw fa-unlock"></i>
                                                Unlock
                                            </a>
                                        {% else %}
                                            <a id="lock-user-button-{{ user.uuid }}" class="btn btn-mini btn-warning" data-uuid="{{ user.uuid }}">
                                                <i class="fa fa-fw fa-lock"></i>
                                                Lock
                                            </a>
                                        {% end %}
                                    </td>
                                    <td>
                                        <a id="edit-user-button-{{ user.uuid }}" class="btn btn-mini" data-toggle="modal" href="#edit-user-modal" data-uuid="{{ user.uuid }}" data-hash-algorithm="{{ user.algorithm }}" data-team-uuid="{{ user.team.uuid }}">
                                            <i class="fa fa-fw fa-pencil"></i>
                                            Edit
                                        </a>
                                    </td>
                                    <td>
                                        <a id="delete-user-button-{{ user.uuid }}" class="btn btn-mini btn-danger" data-toggle="modal" href="#delete-user-modal" data-uuid="{{ user.uuid }}">
                                            <i class="fa fa-fw fa-times-circle-o"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            {% end %}
        </div>
    </div>
{% end %}