{% extends "../main.html" %}

{% block header %}
<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
<link href="/static/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/css/screen.css" media="screen" />
{% end %}

{% block title %}Crack Me{% end %}

{% block content %}
	<h1>Crack Me</h1>
	{% if crack_me != None %}
		<!-- Solution Form -->
		<h2>Submit a Solution</h2>
	    <form style="height:99px;" id="form1" action="/crackme" method="post">  
	      {% raw xsrf_form_html() %}
	      <fieldset><legend>Contact form</legend>
	        <p class="first">
	          <label for="token">Level {{ crack_me.id  }} Token</label>
	          <input type="text" name="token" id="token" />
	        </p>
	      </fieldset>
	      <p class="submit">
	        <button type="submit"> Submit Token </button>
	      </p>      
	    </form>
	    <!-- Crack Me Download -->
		<script>
			$(function() {
				$( ".dl_crack_me button:first" ).button({
		            icons: {
		                	primary: "ui-icon-locked"
		            	}
		        	})  
				});
		</script>
		<br />
		<h2>Current Level ({{ crack_me.id }}): {{ crack_me.crack_me_name }}</h2>
		<div class="dl_crack_me">
			<button onclick="window.open('/crackme/download', '_newtab');" >Download {{ crack_me.crack_me_name }}</button>
		</div>
	{% else %}
		<p>
			No Crack Me's remain.
		</p>
	{% end %}
{% end %}