e<div id="ajax_challenge" class="animated bounceInRight">
  <h2>{{ challenge.name }}</h2>
  <strong>Points: </strong> {{ challenge.value }} <br />
	<strong>Description: </strong> {{ challenge.description }} <br />
	<form style="height:100px" id="form1" action="/challenges" method="post">  
      {% raw xsrf_form_html() %}
      <fieldset>
        <p class="first">
          <label for="token">Token</label>
          <input type="hidden" name="challenge_id" value="{{ challenge.id }}" />
          <input type="text" name="token" id="token" />
        </p> 
      </fieldset>
      <p class="submit">
        <button type="submit"> Submit Token </button>
      </p>   
    </form>
    <br />
    <a onclick="load_right('back')">&lt;&lt; Back</a>
    <br />
</div>