/* 
Main CSS for Root the Box 
*/

*
{
	margin: 0em;
	padding: 0em;
}

span {
	position:relative;
	/*top:-100px;*/
}

form
{
	border: none;
}

h1,h2,h3,h4,h5,h6
{
	color: #6a6a6a;
}

body
{
	font-family: "Trebuchet MS", sans-serif;
	color: #000000;
	font-size: 11pt;
}

#face
{
}

a
{
	color: #080808 ;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

/* Outer */

#outer
{
	/*margin: 2.5em 3.0em 1.5em 3.0em;*/
	height:1080px;
	background-image:url('/static/images/face.jpg');
	background-repeat:no-repeat;
}

/* Header */

#header
{
	padding: 0em 1.5em 0em 1.5em;
	height: 8em;
	width: 15em;
	float: left;
	position: relative;
	background: #080808  ;
}

#header h1
{
	position: absolute;
	bottom: 2.2em;
	font-size: 1.5em;
	letter-spacing: 0.1em;
}

#header h1 a
{
	color: #fff;
	text-decoration: none;
}

#header h2
{
	position: absolute;
	bottom: 2.7em;
	color: #EFE0E0;
	font-size: 0.8em;
}

#banner
{
	text-align: center;
}

/* Menu */
#menuouter
{
	width: 100%;
	text-align: center;
}

#menuinner
{
	display: inline-block;
}

/* Content */
#page_content
{
	margin-top: 1px;
	padding-top: 1.5em;
}

#page_content p
{
	margin-bottom: 1.5em;
	line-height: 1.6em;
}

#page_content h2
{
	font-size: 1.5em;
}

#page_content h3
{
	font-size: 1.1em;
}

#page_content h2,h3,h4,h5,h6
{
	padding-bottom: 0.2em;
	margin-bottom: 1.2em;
}

#page_content ul
{
	margin-bottom: 1.5em;
	padding-left: 1em;
	line-height: 1.6em;
}

#page_content blockquote
{
	border-left: solid 0.8em #cacaca;
	padding: 0.5em 0em 0.5em 1.0em;
	margin-bottom: 1.5em;
	line-height: 1.6em;
}

#page_content blockquote p
{
	display: inline;
}

/* Primary Content */

#primaryContentContainer
{
	margin:auto;
	width:50%;
}

#primaryContent
{
	text-align:left;
	margin: 0em 0em 0em 0em;
	padding: 1.5em;
}

#primaryContent img
{
	max-width:500px;
	max-height:250px;
}

#primaryContent #scoreboard
{

}

/* Secondary Content */

#secondaryContent
{
	float: left;
	width: 15em;
	padding: 1.5em;
}

/* Footer */

#footer
{
	margin-top: 1.0em;
	padding: 1.5em;
	font-size: 0.9em;
	text-align: center;
	position: fixed;
    bottom: 0px;
}

.clear
{
	clear: both;
}
/* tiny mce */

#tinymce {
	
}

/* Hashes Page */
#hashes_container {
	margin:auto;
}

#content_left_side {
	float: left;
	margin-right: 1%;
} 

#content_right_side { 
	float: right;
	margin-left: 1%;
}

#content_submit {
	position: relative;
}

#feedback { 
	font-size: 1.2em; 
}

#selectable .ui-selecting { 
	background: #0186ba; 
}

#selectable .ui-selected { 
	background: #0186ba; color: white; 
}

#selectable { 
	list-style-type: none;
	margin: 0; 
	padding: 0; 
	width: 100%;
}

#selectable li { 
	margin: 3px; 
	padding: 0.4em; 
	font-size: 1.2em; 
	height: 16px; 
}

/* Wall of Sheep */
#sheep_avatar {
	float: left;
	text-align: right;
	overflow:hidden;
} 

#sheep_text { 
	float: right;
	text-align: left;
	overflow:hidden;
}

/* Wall of Sheep */
#left {
	float: left;
	text-align: right;
} 

#right { 
	float: right;
	text-align: left;
}

#about {
	text-align:center
}

/* File Sharing */
.share_description {
	width: 95%;
	background-color: transparent;
	border: none;
	font-family: "Trebuchet MS", sans-serif;
	color: #FFFFFF;
	font-size: 11pt;
}
