.toolbar {
    min-width: 265px;
}

.toolbar-commenting {
    margin-top: 7px;
}

.toolbar-group {
    display: inline-block;
    margin-right: 15px;
}

.toolbar-item.dropdown {
    padding: 0;
}

.toolbar-item {
    display: block;
    float: left;
    padding: 4px 5px;
    color: #767676;
    background: none;
    border: 0;
}

.toolbar-item .menu-target {
    display: block;
    padding: 4px 5px;
    color: #767676;
    background: none;
    border: 0;
}

.toolbar-item .dropdown-caret {
    display: block;
    float: right;
    margin-top: 6px;
    margin-left: 2px;
}

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: -2px;
    content: "";
    border: 4px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.dropdown-menu-s {
    right: 50%;
    left: auto;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.markdown-toolbar {
    white-space: nowrap;
}

.markdown-preview {
    background-color: #eee;
}

.markdown-preview blockquote {
    margin: 10px 0 10px 0;
    padding: 5px 10px;
    border-left: 5px solid #b2cbea;
    font-size: 14px;
    color: #666;
}