/* 
*	
*	CSSG Collections: Forms
*	designed and coded by Alen Grakalic (http://cssglobe.com)
*	brought to you by Templatica (http://templatica.com)
*
*/

/* Sexy buttons */

.sexy-button {
	margin-left: 228px;
	margin-top:4px;
	margin-bottom:4px;
	width:150px;
	height:37px;
	line-height:37px;		
	border:none;
	background:url(/static/images/form1/form_button.gif) no-repeat 0 0;
	color:#fff;
	cursor:pointer;
	text-align:center;
}

.sexy-button:hover {
	background:url(/static/images/form1/form_button_hover.gif) no-repeat 0 0;
}


/* form 1 */

	#form1{
		margin:1em 0;
		padding-top:10px;
		background:url(/static/images/form1/form_top.gif) no-repeat 0 0;
		height:300px;
		}
	#form1 fieldset{
		margin:0;
		padding:0;
		border:none;	
		float:left;
		display:inline;
		width:260px;
		margin-left:25px;
		}		
	#form1 legend{display:none;}	
	#form1 p{margin:.5em 0;}	
	#form1 label{display:block;}	
	#form1 input, #form1 textarea{		
		width:252px;
		border:1px solid #ddd;
		background:#fff url(/static/images/form1/form_input.gif) repeat-x;
		padding:3px;
		}		
	#form1 textarea{
		height:125px;
		overflow:auto;
		}					
	#form1 p.submit{
		clear:both;
		background:url(/static/images/form1/form_bottom.gif) no-repeat 0 100%;
		padding:0 25px 20px 25px;
		margin:0;
		text-align:left;
		margin-left:-1px;
		}	
	#form1 button{
		width:150px;
		height:37px;
		line-height:37px;		
		border:none;
		background:url(/static/images/form1/form_button.gif) no-repeat 0 0;
		color:#fff;
		cursor:pointer;
		text-align:center;
		}

/* form 2 */

	#form2{
		margin:1em 0;
		color:#fff;
		width:320px; /* customize width, this form have fluid layout */
		}
	#form2 h3{
		margin:0;
		background:#0186ba url(/static/images/form2/form_heading.gif) repeat-x;		
		color:#fff;
		font-size:20px;
		border:1px solid #0186ba;
		border-bottom:none;
		}		
	#form2 h3 span{
		display:block;
		padding:10px 20px;
		background:url(/static/images/form2/logo_sheep.png) no-repeat 93% 50%;			
		}				
	#form2 fieldset{
		margin:0;
		padding:0;
		border:none;	
		border-top:3px solid #000;
		background:#000 url(/static/images/form2/form_top.gif) repeat-x;		
		padding-bottom:1em;
		}		
	#form2 legend{display:none;}	
	#form2 p{margin:.5em 20px;}	
	#form2 label{display:block;}	
	#form2 input, #form2 textarea{		
		width:272px;
		border:1px solid #111;
		background:#282828 url(/static/images/form2/form_input.gif) repeat-x;
		padding:5px 3px;
		color:#fff;
		}		
	#form2 textarea{
		height:125px;
		overflow:auto;
		}					
	#form2 p.submit{
		text-align:right;
		}	
	#form2 button{
		padding:0 20px;
		height:32px;
		line-height:32px;		
		border:1px solid #0186ba;
		background:#0186ba url(../images/form2/form_button.gif) repeat-x;
		color:#fff;
		cursor:pointer;		
		text-align:center;		
		}			
		
/* form3 */


	#form3{
		margin:1em 0;
		padding-top:10px;
		background:url(/static/images/form1/form_top.gif) no-repeat 0 0;
		height: 410px;
		}
	#form3 fieldset{
		margin:0;
		padding:0;
		border:none;	
		float:left;
		display:inline;
		width:260px;
		margin-left:25px;
		}		
	#form3 legend{display:none;}	
	#form3 p{margin:.5em 0;}	
	#form3 label{display:block;}	
	#form3 input, #form3 textarea{		
		width:252px;
		border:1px solid #ddd;
		background:#fff url(/static/images/form1/form_input.gif) repeat-x;
		padding:3px;
		}		
	#form3 textarea{
		height:125px;
		overflow:auto;
		}					
	#form3 p.submit{
		margin-left: -1px;
		clear:both;
		background:url(/static/images/form1/form_bottom.gif) no-repeat 0 100%;
		padding:0 25px 20px 25px;
		text-align:left;
		}	
	#form3 button{
		width:150px;
		height:37px;
		line-height:37px;		
		border:none;
		background:url(/static/images/form1/form_button.gif) no-repeat 0 0;
		color:#fff;
		cursor:pointer;
		text-align:center;
		}
