<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<a class="brand">PasteBin</a>
		<ul class="nav">
			<li><a onclick="create()" href="#">Create</a></li>
		</ul>
	</div>
</div>
<div class="row-fluid">
    <div class="span12 well animated fadeIn">
		{% if errors != None and len(errors) != 0 %}
			{% for error in errors %}
				<div class="alert alert-error">
					<a class="close" data-dismiss="alert" href="#">×</a>
					<h4 class="alert-heading">ERROR</h4>
					{{ error }}
				</div>
			{% end %}
		{% end %}
		<form action="/user/share/pastebin/create" method="post" autocomplete="off">  
		    {% raw xsrf_form_html() %}
		    <fieldset>
		    <legend>Create New Paste</legend>
		    	<p>
		        	<label for="name">Name</label>
		            <input name="name" id="name" placeholder="Paste Name" type="text" />
		        </p>
		        <p>
		            <label for="content">Content</label>
		            <textarea name="content" placeholder="Paste Text Here" rows="10" cols="10">
		            </textarea>
		        </p>
		    </fieldset>
		    <p class="submit">
		        <button class="btn btn-primary" type="submit">Create New Paste</button>
		    </p>   
		</form>
    </div>
</div><!--/row-->
