<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand">{{ _("PasteBin") }}</a>
        <ul class="nav">
            <li><a href="#">{{ _("Create") }}</a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 well animated fadeIn">
        {% if errors is not None and len(errors) != 0 %}
            {% for error in errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    <h4 class="alert-heading">{{ _("ERROR") }}</h4>
                    {{ error }}
                </div>
            {% end %}
        {% end %}
        <form id="create-paste" action="/user/share/pastebin/create" method="post" autocomplete="off">
            {% raw xsrf_form_html() %}
            {% from tornado.options import options %}
            <fieldset>
            <legend>{{ _("Create New Paste") }}</legend>
                {% if user.is_admin() %}
                {% from models.Team import Team %}
                <p>
                    <label class="control-label" for="team-uuid">{% if options.teams %}{{_("Team")}}{% else %}{{_("Player")}}{% end %}</label>
                    <div class="controls">
                        <select id="team-uuid" name="team_uuid">
                            <option value="all">All</option>
                            {% for team in Team.all() %}
                                <option value="{{ team.uuid }}">{{ team.name }}</option>
                            {% end %}
                        </select>
                    </div>
                </p>
                {% end %}
                <p>
                    <label for="name">{{ _("Name") }}</label>
                    <input autofocus required name="name" id="name" maxlength="32" placeholder="{{ _('Paste Name') }}" type="text" />
                </p>
                <p>
                    <label for="content">{{ _("Content") }}</label>
                    <textarea required name="content" maxlength="{{ options.max_pastebin_size }}" placeholder="{{ _('Paste Text Here') }}" style="width:auto;" rows="10" cols="60">
                    </textarea>
                </p>
            </fieldset>
            <p >
                <button class="btn btn-primary">{{ _("Create New Paste") }}</button>
            </p>
        </form>
    </div>
</div><!--/row-->
