<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand">{{ _("PasteBin") }}</a>
        <ul class="nav">
            <li><a id="create-paste" href="#">{{ _("Create") }}</a></li>
            <li><a id="delete-paste" style="cursor: pointer;" data-uuid="{{ paste.uuid }}">{{ _("Delete") }}</a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 well animated fadeIn">
        {% if paste is not None %}
            <h3>{{ paste.name }} - {{ paste.created.strftime("%I:%M%p %x") }}</h3>
            <div class="navbar-inverse">
                <pre class="navbar-inner" style="color: unset; min-height: unset;">
                {{ paste.contents }}
                </pre>
            </div>
        {% end %}
    </div>
</div><!--/row-->
