<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand">PasteBin</a>
        <ul class="nav">
            <li><a id="create-paste" href="#">Create</a></li>
            <li><a id="delete-paste" data-uuid="{{ paste.uuid }}">Delete</a></li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 well animated fadeIn">
        {% if paste is not None %}
            <h3>{{ paste.name }} - {{ paste.created.strftime("%I:%M%p") }}</h3>
<pre>
{{ paste.contents }}
</pre>
        {% end %}
    </div>
</div><!--/row-->
