{% extends "../main.html" %}

{% block title %}Pastebin{% end %}

{% block content %}
	<div id="postList">
		{% for post in posts %}
			<div class="post"><a href="/pastebin/view?post_id={{post.id}}">{{post.name}}</a></div>
		{% end %}
	</div>

	<div id="tinymce">
	<form method="post" action="/pastebin">
		{% raw xsrf_form_html() %}
		Post Name:<input type="text" name="name"> <br>
		<textarea name="content" style="width: 100%; height: 600px"></textarea>
		<input type="submit" value="Submit Post!">
	</form>
	</div>
	
{% end %}