{% extends "../main.html" %}

{% block title %}Award Challenge{% end %}

{% block content %}
<h1>Award Challenge</h1>
<br />
<form action="/admin/award" method="post" >
	{% raw xsrf_form_html() %}
	<label>Select User:</label>
	<select name="user">
		{% for user in users %}
			<option value="{{ user.id }}">{{ user.user_name }} ({{ user.team_name }})</option>
		{% end %}
	</select>
	<br /> <br />
	<label>Select Challenge:</label>
	<select name="challenge">
		{% for challenge in challenges %}
			<option value="{{ challenge.id }}">{{ challenge.name }} ({{ challenge.value }})</option>
		{% end %}
	</select>
	<br /> <br />
	<input type="submit" value=" Award Challenge " />
</form>
{% end %}