{% extends "../main.html" %}

{% block title %}Configuration{% end %}

{% block content %}
    <div class="container">
        <h1>Configuration</h1>
        <br />
        {% if errors is not None and len(errors) != 0 %}
            {% for error in errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <h4 class="alert-heading">ERROR</h4>
                    {{ error }}
                </div>
            {% end %}
        {% end %}
        {% if warning is not None %}
            <div class="alert alert-warning">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <h4 class="alert-heading">WARNING</h4>
                {{ warning }}
            </div>
        {% end %}
        <div class="well">
            <form class="form-horizontal" action="/admin/configuration" method="post" autocomplete="off" >
                {% raw xsrf_form_html() %}
                <div class="control-group">
                    <label class="control-label" for="game_name">Game Name</label>
                    <div class="controls">
                        <input type="text" name="game_name" value="{{ config.game_name }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="debug">Debug Mode</label>
                    <div class="controls">
                        <select name="debug">
                            {% if config.debug %}
                                <option value="true">Enabled</option>
                                <option value="false">Disabled</option>
                            {% else %}
                                <option value="false">Disabled</option>
                                <option value="true">Enabled</option>
                            {% end %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div> 
            </form>
        </div>
    </div>
{% end %}