{% extends "../main.html" %}

{% block title %}Create Action{% end %}

{% block content %}
<h1>Create Action</h1>
<br />
<form action="/admin/create/action" method="post" >
	{% raw xsrf_form_html() %}
	<label>Select User:</label>
	<select name="user_name">
		<option value=""></option>
		{% for user in users %}
			<option value="{{ user.user_name }}">{{ user.user_name }}</option>
		{% end %}
	</select>
	<br /> <br />
	<label>Classification:</label> <input name="classification" type="text" />
	<br /> <br />
	<label>Description:</label> <input name="description" type="text" />
	<br /> <br />
	<label>Value</label> <input name="value" type="text" />
	<br /> <br />
	<input type="submit" value=" Create Action " />
</form>
{% end %}