{% extends "../main.html" %}

{% block title %}Create Box{% end %}

{% block content %}
<h1>Create Box</h1>
<br />
	<form action="/admin/create/box" method="post" enctype="multipart/form-data">
		{% raw xsrf_form_html() %}
		<label>Box Name:</label> <input name="box_name" type="text" /> <br /><br />
		<label>IP Address:</label> <input name="ip_address" type="text" /> <br /><br />
		<label>Difficulty:</label> 
		<select name="difficulty">
			<option value="Easy">Easy</option>
			<option value="Medium">Medium</option>
			<option value="Hard">Hard</option>
		</select><br /><br />
		<label>Avatar File 250x500 (Max 1Mb): </label> <input type="file" name="avatar" /> <br /> <br />
		<label>Description:</label> <input name="description" type="text" /> <br /><br />
		<label>Root Key:</label> <input name="root_key" type="text" /> <br /><br />
		<label>Root Value:</label> <input name="root_value" type="text" /> <br /><br />
		<label>User Key:</label> <input name="user_key" type="text" /> <br /><br />
		<label>User Value:</label> <input name="user_value" type="text" /> <br /><br />
		<input type="submit" value=" Create Box " />
	</form>
{% end %}