{% extends "../main.html" %}

{% block title %}Create Crack Me{% end %}

{% block content %}
<h1>Create Crack Me</h1>
<br />
	<form action="/admin/create/crackme" method="post" enctype="multipart/form-data">
		{% raw xsrf_form_html() %}
		<label>Crack Me Name:</label> <input name="crack_me_name" type="text" /> 
		<br /> <br />
		<label>Description:</label> <input name="description" type="text" /> 
		<br /> <br />
		<label>File Name:</label> <input name="file_name" type="text" /> 
		<br /> <br />
		<label>Upload File:</label> <input name="crack_me" type="file" /> 
		<br /> <br />
		<label>Point Value:</label> <input name="value" type="text" /> 
		<br /> <br />
		<label>Token:</label> <input name="token" type="text" /> 
		<br /> <br />
		<input type="submit" value=" Create Crack Me " />
	</form>
{% end %}