{% extends "../main.html" %}

{% block title %}Edit User{% end %}

{% block content %}
<h1>Edit User</h1>
<br />
<form action="/admin/edit/user" method="post">
	{% raw xsrf_form_html() %}
	<label>Users:</label>
	<select name="user_name">
		{% for user in users %}
			<option value="{{ user.user_name }}">{{ user.user_name }}</option>
		{% end %}
	</select>
	<br /> <br />
	<label>Teams:</label>
	<select name="team_name">
		{% for team in teams %}
		<option value="{{ team.team_name }}">{{ team.team_name }}</option>
		{% end %}
	</select>
	<br /><br />
	<input type="submit" value=" Save Changes " />
</form>
{% end %}