{% extends "../main.html" %}

{% block title %}Notification{% end %}

{% block content %}
<h1>Send Notification</h1>
<br />
<form action="/admin/notify" method="post">
	{% raw xsrf_form_html() %}
	<label>Title: </label> <input name="title" type="text" /> 
	<br /> <br />
	<label>Message: </label> <input name="message" type="text" /> 
	<br /> <br />
	<select name="classification">
		{% for cls in classifications %}
			<option value="{{ cls }}">{{ cls }}</option>
		{% end %}
	</select> 
	<br /> <br />
	<input type="submit" value=" Send Notification " />
</form>
{% end %}