{% extends "../main.html" %}

{% block title %}{{ _("Botnet") }} C &amp; C{% end %}
{% block header %}
<script src="/static/js/pages/botnet/monitor.js"></script>
    {% if not teamname %}
    <style>
        .teamname {
            display: none;
        }
    </style>
    {% end %}
{% end %}
{% block content %}
{% from tornado.options import options %}
    <!-- Visible -->
    <div class="container">
        <h1>
            <i class="fa fa-globe"></i>
            {{ _("Botnet Command & Control") }}
        </h1>
        <br />
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4 class="alert-heading">{{ _("Are You Elite") }}?</h4>
            <a href="/user/bots/download/monitor" target="_blank">
            {{ _("Download the command line botnet monitor") }}</a> (Linux / BSD)
        </div>
        <div class="well">
            <table id="monitor-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class='teamname'>{% if options.teams %}{{ _("Team") }}{% else %}{{ _("Player") }}{% end %}</th>
                        <th>{{ _("Box Name") }}</th>
                        <th>{{ _("IP Address") }}</th>
                        <th>{% if options.banking %}{{ _("Income") }}{% else %}{{ _("Points") }}{% end %}</th>
                        <th>{{ _("Last Ping") }}</th>
                    </tr>
                </thead>
                <tbody id="box-table">
                    <!-- Web Socket Data Goes Here -->
                </tbody>
            </table>
            <p id="table-footer" style="text-align:center;"></p>
        </div>
    </div>
{% end %}