<script>
var notifier_ws;
$(document).ready(function() {
    notifier_ws = new WebSocket("{{ handler.application.settings['ws_connect'] }}/notifications/wsocket/updates");
    notifier_ws.onmessage = function(evt) {
        notification = jQuery.parseJSON(evt.data);
        if (notification['category'] == 'success') {
            Notifier.success(notification['message'], notification['title']);
        } else if (notification['category'] == 'info') {
            Notifier.info(notification['message'], notification['title']);
        } else if (notification['category'] == 'warning') {
            Notifier.warning(notification['message'], notification['title']);
        } else if (notification['category'] == 'error') {
            Notifier.error(notification['message'], notification['title']);
        } else if (notification['category'] == 'custom') {
            Notifier.notify(notification['message'], notification['title'], '/avatars/' + notification['icon_url']);
        } else if (notification['category'] == 'goto') {
            // Muahahahhahahahahahahahhahahahaha
            window.location = notification['location'];
        } else if (notification['category'] == 'alert') {
            alert(notification['message']);
        }
    };
});
</script>
