{% extends "../main.html" %} 

{% block header %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
<link href="/static/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
{% end %} 

{% block title %}Scoreboard{% end %} {% block content %}
<br>
<div id="scoreboard" style="margin-left:-85px; min-width: 500px; width:800px; height: 400px;"></div>

<script>
<!-- Real Time Line Graph -->
var chart;
$(document).ready(function() {
	$(function() {
		$( "#scoreboard-tabs" ).tabs();
	});

	
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'scoreboard',
			type: 'line',
			backgroundColor:'transparent',
			zoomType: 'x',
		},
		title: {
			text: 'Root the Box'
		},
		subtitle: {
			text: 'Real-time Scoreboard'
		},
		xAxis: {
			title: {
				text: 'Time'
			}
		},
		yAxis: {
			title: {
				text: 'Points'
			}
		},
		tooltip: {
			enabled: false,
			formatter: function() {
				return '<strong>'+ this.series.name +'</strong><br />'+
					this.x +': '+ this.y +'Â°C';
			}
		},
		plotOptions: {
			line: {
				dataLabels: {
					enabled: true
				},
				enableMouseTracking: true
			}
		},
		series: [
			{% for team in teams %}
			{
			name:"{{ team.team_name }}",
			data: 
			       {{ cached_scores.find_scores_by_team(team.team_name) }},
			},
			{% end %}
		]
	});
});
</script>

{% end %}