{% extends "../main.html" %}

{% block title %}Teams{% end %}

{% block content %}
    {% include ../notifier.html %}
    <div class="container">
        <h1>Teams</h1>
        <br />
        {% from models import Team %}
        {% for index, team in enumerate(Team.ranks()) %}
            <div id="{{ team.uuid }}" class="well">
                <h2 style="display:inline;">{{ index }} - {{ team.name }}</h2>
                <h4 style="display:inline;">&nbsp;&nbsp;&nbsp;&nbsp;"{{ team.motto }}"</h4>
                <hr>
                <div class="container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Flag Name</th>
                                <th>Box Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if len(team.flags) %}
                                {% for index, flag in enumerate(team.flags) %}
                                    <tr>
                                        <td>{{ index + 1 }}</td>
                                        <td>{{ flag.name }}</td>
                                        <td>{{ flag.box.name }}</td>
                                    </tr>
                                {% end %}
                            {% else %}
                                <center>No Flags Captured</center>
                            {% end %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% end %}
    </div>
{% end %}