{% from tornado.options import options %}
<!-- users ranked by money -->
{% for index, user in enumerate(users) %}
    {% if users[user].get("money") > 0 %}
    <tr style="padding-top: 5px;">
        <td>{{ user }}</td>
        <td class="summarycolumn" style="font-size: large; text-align: center; width: 75px;">{% if options.banking %}{{ _("$") }}{% end %}{{ users[user].get("money") }}</td>
    </tr>
    {% end %}
    <!-- List only the Top N with money -->
    {% if index >= options.mvp_max - 1 %}
        {% break %}
    {% end %}
{% end %}