{% from libs.BotManager import BotManager %}
{% for (index, team) in enumerate(teams) %}
    <tr>
        <td>{{ index }}</td>
        <td>{{ team.name }}</td>
        <td>{{ len(team.flags) }}</td>
        <td>{{ BotManager.Instance().count_by_team(team) }}<br /></td>
        <td>${{ team.money }}</td>
        <td>{{ team.levels[-1].number }} </td>
        <td>
            <a class="btn btn-mini" data-toggle="modal" onclick="window.location='/teams#{{ team.uuid }}'">
                Team Members &raquo;
            </a>
        </td>
    </tr>
{% end %}