{% extends "../main.html" %}

{% block header %}
<script src="/static/js/libs/highcharts-all.js"></script>
<script src="/static/js/pages/scoreboard/summary.js"></script>
<script src="/static/js/pages/missions/view.js"></script>
<link href="/static/css/pages/user/summary.css" rel="stylesheet" />
{% end %}

{% block title %}Scoreboard{% end %}

{% block content %}
{% from tornado.options import options %}
<div class="row-fluid">
    <h1 class="offset1">
        <i class="fa fa-bar-chart-o"></i>
        Scoreboard
    </h1>
    <h5 class="offset1 span11 graphhr">
        <span id="graphtext" style="cursor: pointer;"><i class="fa fa-caret-down graphtoggle"></i>&nbsp;&nbsp;Graphs</span>
    </h5>
    <br />
</div>
<div id="pie_graphs" class="row-fluid">
    <div class="well span5 offset1">
        <div id="pie_flags" style="height:300px;">
            <!-- Pie Chart Here -->
        </div>
    </div>
    <div class="well span5">
        <div id="pie_money" style="height:300px;">
            <!-- Pie Chart Here -->
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="well {% if options.teams and options.show_mvp %}span7{% else %}span10{% end %} offset1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align: center;">#&nbsp;&nbsp;&nbsp;</th>
                    <th>
                        {% if options.teams %}
                            Team
                        {% else %}
                            Player
                        {% end %}
                    </th>
                    <th></th><th></th>
                    {% if options.use_bots %}
                        <th style="text-align: center;">Bots</th>
                    {% end %}
                    <th style="text-align: center;">Flags</th>
                    <th id="bankname">
                        {% if options.banking %}
                            Bank Account
                        {% else %}
                            Score
                        {% end %}
                    </th>
                    <th><!-- Details --></th>
                </tr>
            </thead>
            <tbody id="summary_table">
                <!-- AJAX -->
            </tbody>
        </table>
    </div>
    {% if options.teams and options.show_mvp %}
    <div class="well span3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        MVP
                    </th>
                    <th style="text-align: center;">
                        {% if options.banking %}
                            Money
                        {% else %}
                            Points
                        {% end %}
                    </th>
                </tr>
            </thead>
            <tbody id="mvp_table">
                <!-- AJAX -->
            </tbody>
        </table>
    </div>
    {% end %}
</div>
{% end %}