{% extends "../main.html" %}

{% block title %}Hackers{% end %}

{% block content %}
    {% include ../notifier.html %}
    <div class="container">
    	<h1>Hackers</h1>
    	<br />
    	{% from models import Team %}
    	{% for index, team in enumerate(Team.ranks()) %}
    		{% if index%2 is 0 %}
    			<div class='row'>
    		{% end %}
	    	<div class="span6">
	    	    <div id="{{ team.uuid }}">
	    		    <h2 style="display:inline;">{{ team.name }}</h2>
	    		    <br />
	    	    	<h4 style="display:inline;">"{{ team.motto }}"</h4>
	    	    	{% set user = team.members[0] %}
	    	    	<img src="/avatars/{{ user.avatar }}" class="img-polaroid" width="300"/>
	    		</div>
	    	</div>
	    	{% if index%2 is not 0 %}
	    		</div>
	    	{% end %}
    	{% end %}
    </div>
{% end %}