{% extends "../main.html" %} 

{% block header %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
<link href="/static/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/css/screen.css" media="screen" />
{% end %} 

{% block title %}Scoreboard{% end %} 

{% block content %}
<h1>Select a Scoreboard</h1>
<br>
	<div id="scoreboards" class="sexy">
		<ul>
			<li><form action="/all_time"><button class="sexy-button">All Time Chart</button></form></li>
			<li><form action="/pie_chart"><button class="sexy-button">Pie Chart</button></form></li>
			<li><form action="/bar_chart"><button class="sexy-button">Bar Chart</button></form></li>
		</ul>
	</div>

{% end %}
