{% extends "../main.html" %} 

{% block header %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
<link href="/static/css/custom-theme/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
{% end %} 

{% block title %}Scoreboard{% end %} {% block content %}
<h1>Scoreboard</h1>
<br>
<div id="scoreboard-tabs">
	<ul>
		<li><a href="#scoreboard-tabs-1">Real Time Graph</a></li>
		<li><a href="##scoreboard-tabs-2">All Time Graph</a></li>
		<li><a href="#scoreboard-tabs-3">Bar Chart</a></li>
		<li><a href="#scoreboard-tabs-4">Pie Chart</a></li>
	</ul>
	<div id="scoreboard-tabs-1">
		TODO
	</div>
	<div id="scoreboard-tabs-2">
		<div id="scoreboard" style="min-width: 500px; width:579px; height: 400px; margin: 0 auto"></div>
	</div>
	<div id="scoreboard-tabs-3">
		<div id="real_time_bar" style="min-width: 500px; width:579px; height: 400px; margin: 0 auto"></div>
	</div>
	<div id="scoreboard-tabs-4">
		<div id="pie" style="min-width: 500px; width:579px; height: 400px; margin: 0 auto"></div>
	</div>
</div>
<script>
<!-- Real Time Line Graph -->
var chart;
$(document).ready(function() {
	$(function() {
		$( "#scoreboard-tabs" ).tabs();
	});

	
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'scoreboard',
			type: 'line',
			backgroundColor:'transparent',
			zoomType: 'x',
		},
		title: {
			text: 'Root the Box'
		},
		subtitle: {
			text: 'Real-time Scoreboard'
		},
		xAxis: {
			title: {
				text: 'Time'
			}
		},
		yAxis: {
			title: {
				text: 'Points'
			}
		},
		tooltip: {
			enabled: false,
			formatter: function() {
				return '<b>'+ this.series.name +'</b><br/>'+
					this.x +': '+ this.y +'Â°C';
			}
		},
		plotOptions: {
			line: {
				dataLabels: {
					enabled: true
				},
				enableMouseTracking: true
			}
		},
		series: [
			{% for team in teams %}
			{
			name:"{{team.team_name}}",
			data: 
			       {{cached_scores.find_scores_by_team(team.team_name)}},
			},
			{% end %}
		]
	});
});

<!-- Real Time Bar Graph-->
var bar_chart;
var pc;
$(document).ready(function() {
	bar_chart = new Highcharts.Chart({
		chart: {
			renderTo: 'real_time_bar',
			type: 'column',
			margin: [ 50, 50, 100, 80],
			backgroundColor:'transparent',
		},
		title: {
			text: 'Root the Box'
		},
		subtitle: {
			text: 'Real-time Scoreboard'
		},
		xAxis: {
			categories: [
				{% for team in teams %}
					"{{team.team_name}}",
				{% end %}
			],
			labels: {
				rotation: -45,
				align: 'right',
				style: {
					font: 'normal 13px Verdana, sans-serif'
				}
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Current Scores'
			}
		},
		legend: {
			enabled: false
		},
		tooltip: {
			formatter: function() {
				return '<b>'+ this.x +'</b><br/>'+
					'Current Score: '+ Highcharts.numberFormat(this.y, 1);
			}
		},
			series: [{
			name: 'Score',
			
			data: [
				{% for team in teams %}
					{{cached_scores.find_current_score_by_team(team.team_name)}},
				{% end %}       
			       ],
			dataLabels: {
				enabled: true,
				rotation: -90,
				color: '#FFFFFF',
				align: 'right',
				x: -3,
				y: 10,
				formatter: function() {
					return this.y;
				},
				style: {
					font: 'normal 13px Verdana, sans-serif'
				}
			}
		}]
	});
	
	pc = new Highcharts.Chart({
		chart: {
			renderTo: 'pie',
			plotBackgroundColor: null,
			plotBorderWidth: null,
			plotShadow: false,
			backgroundColor:'transparent'
		},
		title: {
			text: 'Point Distribution'
		},
		tooltip: {
			formatter: function() {
				return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
			}
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					color: '#000000',
					connectorColor: '#000000',
					formatter: function() {
						return '<b>'+ this.point.name +'</b>';
					}
				}
			}
		},
		series: [{
			type: 'pie',
			name: 'Browser share',
			data: [
				{% for team in teams %}
					['{{team.team_name}}' , {{cached_scores.find_current_score_by_team(team.team_name)}}],
				{% end %}
			]
		}]
	});
});
<!-- -->
</script>

{% end %}
