{% extends "../main.html" %}

{% block title %}Shared Files{% end %}

{% block content %}
    {% include ../notifier.html %}
    <div class="container">
        <h1>
            <i class="fa fa-files-o"></i>
            File Sharing
        </h1>
        <br />
        {% if errors != None and len(errors) != 0 %}
          {% for error in errors %}
              <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4 class="alert-heading">ERROR</h4>
                {{ error }}
              </div>
          {% end %}
        {% end %}
        <div class="row">
            <div class="span4 well">
                <form id="share-file" action="/user/share/files" method="post" enctype="multipart/form-data">
                  {% raw xsrf_form_html() %}
                  <fieldset>
                    <p class="first">
                      <label for="files">File (Max 50Mb)</label>
                      <input required type="file" name="files" id="files" multiple="multiple"/>
                    </p>
                    <p>
                      <label for="description">Description</label>
                      <input type="text" name="description" id="description" placeholder="File Description" />
                    </p>
                  </fieldset>
                  <p class="submit">
                    <button class="btn"> Upload File(s) </button>
                  </p>
                </form>
            </div>
            <div class="span6 well">
                <h3>
                    <i class="fa fa-share-square-o"></i>
                    Shared Files
                </h3>
                <div id="accordion">
                    {% if not len(shares) %}
                        <strong>There are currently no shared files.</strong>
                    {% else %}
                        <div class="accordion" id="accordion2">
                            {% for index, share in enumerate(shares) %}
                                  <div class="accordion-group">
                                    <div class="accordion-heading">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_{{ index }}">
                                        <strong>{{ share.file_name }}</strong>&nbsp;&nbsp;&nbsp;{{ share.content_type }}
                                      </a>
                                    </div>
                                    <div id="collapse_{{ index }}" class="accordion-body collapse">
                                      <div class="accordion-inner">
                                        <strong>Created: </strong> {{ share.created }}</strong> <br />
                                        <strong>File Size: </strong> {{ share.byte_size }} bytes <br />
                                        <p>
                                            <strong>Description:</strong> {{ share.description }}
                                        </p>
                                        <br />
                                        <button class="btn" data-uuid="{{ share.uuid }}" >
                                            <i class="fa fa-download"></i>
                                            Download {{ share.file_name }}
                                        </button>
                                        <button class="btn btn-danger" data-uuid="{{ share.uuid }}" style="float:right">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                            {% end %}
                        </div>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
{% end %}