{% extends "../main.html" %}

{% block title %}Social Enginering{% end %}

{% block header %}
<link rel="stylesheet" href="/static/css/screen.css" media="screen" />
{% end %}

{% block content %}
	<h1>Social Engineering Challenge</h1>
	
	{% if current_se != None %}
	 <form style="height:373px" id="form1" action="/se" method="post" autocomplete="off">  
      {% raw xsrf_form_html() %}
      <fieldset>
      	<legend>Social Engineering!</legend>
        <p class="first">
          <b><label for="name">Name:</label></b>
          {{current_se.name}}
        </p>  
        <p style="height:100px;">
          <b><label for="description">Description:</label></b>
          {{current_se.description}}
        </p>
        <p>
          <b><label for="value">Value:</label></b>
          {{current_se.value}}
        </p>
        <p>
          <b><label for="level">Level:</label></b>
          {{current_se.level}}
        </p>
        <p>
          <b><label for="token">Token:</label></b>
          <input type="text" name="token" />
        </p>
      </fieldset>
      <p class="submit">
        <button type="submit"> Change Password </button>
      </p>   
    </form>
	{% else %}
		<div>That's all of the Social Engineering Challenges!</div>
	{% end %}
{% end %}