{% extends "../main.html" %}

{% block title %}Social Enginering{% end %}

{% block content %}
	<h1>Social Engineering Challenge</h1>
	
	<div id="social_challenge">
	{% if current_se != None %}
		<div id="name">{{current_se.name}}</div>
		<div id="description">{{current_se.description}}</div>
		<div id="value">{{current_se.value}}</div>
		<div id="level">Level:{{current_se.level}}</div>
		<div id="se_form">
			<form action="/se" method="post" >
				{% raw xsrf_form_html() %}
				<label>Token:</label><input type="text" name="token" />
				<input type="submit" name="Submit Token!">
			</form>
		</div>
	{% else %}
		<div>That's all of the Social Engineering Challenges!</div>
	{% end %}
	</div>
		
{% end %}