<ul id="menu">
	<li>
		<a href="/admin/game">Game Control</a>
	</li>
	<li>
		<a href="/admin/create">Create Objects</a>
		<ul>
			<li>
				<a href="/admin/create/action">Create an Action</a>
			</li>
			<li>
				<a href="/admin/create/team">Create a Team</a>
			</li>
			<li>
				<a href="/admin/create/box">Create a Box</a>
			</li>
			<li>
				<a href="/admin/create/crackme">Create a Crack Me</a>
			</li>
			<li>
				<a href="/admin/create/se">Create an SE Challenge</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="/admin/edit">Edit Objects</a>
		<ul>
			<li>
				<a href="/admin/edit/user">Edit User</a>
			</li>
			<li>
				<a href="/admin/edit/teams">Edit Teams</a>
			</li>
			<li>
				<a href="/admin/edit/boxes">Edit Boxes</a>
			</li>
			<li>
				<a href="/admin/edit/crackmes">Edit Crack Me's</a>
			</li>
			<li>
				<a href="/admin/edit/se">Edit SE Challenges</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="/admin/view" >View Objects</a>
		<ul>
			<li>
				<a href="/admin/view/teams">View Teams</a>
			</li>
			<li>
				<a href="/admin/view/teams">View Boxes</a>
			</li>
			<li>
				<a href="/admin/view/teams">View Crack Me's</a>
			</li>
			<li>
				<a href="/admin/view/se">View SE Challenges</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="/user/logout">Logout</a>
	</li>
</ul>