<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
                {{ handler.application.settings['game_name'] }}
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Create
                        <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/create/team">New Team</a></li>
                            <li><a href="/admin/create/game_level">New Game Level</a></li>
                            <li><a href="/admin/create/corporation">New Corporation</a></li>
                            <li><a href="/admin/create/box">New Box</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">New Flag</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/admin/create/flag/text">Text Flag</a></li>
                                    <li><a href="/admin/create/flag/file">File Flag</a></li>
                                </ul>
                            </li>
                            <li><a href="/admin/create/hint">New Hint</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            View &amp; Edit
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/view/user_objects">Users</a></li>
                            <li><a href="/admin/view/game_objects">Flags / Boxes / Corp.</a></li>
                            <li><a href="/admin/view/game_levels">Game Levels</a></li>
                            <li><a href="/admin/view/market_objects">Black Market Items</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Manage Upgrades
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/upgrades/source_code_market">Source Code Market</a></li>
                            <li><a href="/admin/upgrades/swat">SWAT</a></li>
                        </ul>
                    </li>
                    <li><a href="/admin/configuration">Configuration</a></li>
                    {% from libs.ConfigManager import ConfigManager %}
                    {% if ConfigManager.Instance().restrict_registration %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                RegTokens
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/regtoken/create">Create</a></li>
                                <li><a href="/admin/regtoken/view">View &amp; Delete</a></li>
                            </ul>
                        </li>
                    {% end %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Export
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/export/xml" target="_blank">Download XML</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i>
                            {{ handle }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/settings">Settings</a></li>
                        <li class="divider"></li>
                        <li>
                            <!-- logout form -->
                            <form id="logoutform" action="/logout" method="post">
                                {% raw xsrf_form_html() %}
                            </form>
                            <script>
                                function logout() {
                                    document.getElementById("logoutform").submit();
                                }
                            </script>
                            <a onclick="logout()" method="post">
                                <i class="icon-ban-circle"></i>
                                &nbsp;Logout&nbsp;
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>