{% block header %}
<link href="/static/css/menu.css" rel="stylesheet" />
{% end %}
{% from tornado.options import options %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btncollapse" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="fa fa-bars"></i>
            </a>
            <a class="brand" href="/">
                {% if options.debug %}
                    <i class="fa fa-fw fa-bug"></i>
                    {{ _("DEBUG") }}
                {% else %}
                    {{ options.game_name }}
                {% end %}
            </a>
            <div class="nav-collapse pull-right">
                <ul class="nav">
                    <li>
                        <a href="/login">
                            <i class="fa fa-fw fa-sign-in"></i>
                            {{ _("Login") }}
                        </a>
                    </li>
                    {% if registration_visible %}
                    <li>
                        <a href="/registration">
                            <i class="fa fa-fw fa-pencil"></i>
                            {{ _("Registration") }}
                        </a>
                    </li>
                    {% end %}
                    {% if scoreboard_visible %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-fw fa-bar-chart-o"></i>
                            {{ _("Scoreboard") }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/scoreboard">
                                    {{ _("Summary") }}
                                </a>
                            </li>
                            <li>
                                <a href="/scoreboard/history">
                                    {{ _("Charts") }}
                                </a>
                            </li>
                            <li>
                                <a href="/teams">
                                    {% if options.teams %}{{ _("Teams") }}{% else %}{{ _("Players") }}{% end %}
                              </a>
                            </li>
                            {% if options.use_black_market and "Federal Reserve" in options.allowed_market_items %}
                                <li>
                                    <a href="/scoreboard/wall_of_sheep">
                                        {{ _("Wall of Sheep") }}
                                    </a>
                                </li>
                            {% end %}
                        </ul>
                    </li>
                    {% end %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
