    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
            Root the Box
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/user">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Game
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/user/missions">Missions</a></li>
                  <li><a href="/user/market">Black Market</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Team
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/user/share/files">File Sharing</a></li>
                  <li><a href="/user/share/pastebin">PasteBin</a></li>
                </ul>
              </li>
              <li><a href="/scoreboard">Scoreboard</a></li>
              {% if user.has_item(u"New York Federal Reserve") %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    New York Reserve
                  <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/hashes">Hashes</a></li>
                    <li><a href="/wallofsheep">Wall of Sheep</a></li>
                  </ul>
                </li>
              {% end %}
              {% if user.has_item(u"SWAT") %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    S.W.A.T.
                  <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/hashes">Hashes</a></li>
                    <li><a href="/wallofsheep">Wall of Sheep</a></li>
                  </ul>
                </li>   
              {% end %}
              <li><a href="/about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          <!-- Right Side -->
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> 
              {{ user.handle }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/user/settings"><i class="icon-pencil"></i>&nbsp;Settings&nbsp;</a></li>
              <li class="divider"></li>
              <li><a href="/logout"><i class="icon-ban-circle"></i>&nbsp;Logout&nbsp;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>