{% block header %}
<link href="/static/css/menu.css" rel="stylesheet" />
{% end %}
{% from tornado.options import options %}
{% from handlers.MaterialsHandler import has_materials %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btncollapse" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="fa fa-bars"></i>
            </a>
            <a class="brand" href="/">
                {% if options.debug %}
                    <i class="fa fa-fw fa-bug"></i>
                    DEBUG
                {% else %}
                    {{ options.game_name }}
                {% end %}
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="/user">
                            <i class="fa fa-fw fa-home" title="home"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-fw fa-gamepad"></i>
                            Game
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/user/missions">
                                    <i class="fa fa-fw fa-terminal"></i>
                                    Missions
                                </a>
                            </li>
                            {% if options.use_black_market %}
                                <li>
                                    <a href="/user/market">
                                        <i class="fa fa-fw fa-shopping-cart"></i>
                                        Black Market
                                    </a>
                                </li>
                            {% end %}
                            {% if options.use_bots %}
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="/user/bots/webmonitor">
                                        <i class="fa fa-fw fa-android"></i>
                                        Botnet
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/user/bots/webmonitor">Command &amp; Control</a>
                                        </li>
                                        <li>
                                            <a href="/user/bots/download/windows" target="_blank">Download Windows Bot</a>
                                        </li>
                                        <li>
                                            <a href="/user/bots/download/linux" target="_blank">Download Linux / BSD Bot</a>
                                        </li>
                                    </ul>
                                </li>
                            {% end %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-fw fa-wrench"></i>
                            Tools
                            <b class="caret"></b>
                      </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/cyberchef/" target="_blank">
                                    <i class="fa fa-fw fa-link"></i>
                                    CyberChef
                                </a>
                            </li>
                            {% if has_materials() %}
                            <li>
                                <a href="/materials">
                                    <i class="fa fa-fw fa-folder-open-o"></i>
                                    Game Materials
                                </a>
                            </li>
                            {% end %}
                            {% if options.teams and options.team_sharing %}
                            <li>
                                <a href="/user/share/files">
                                    <i class="fa fa-fw fa-files-o"></i>
                                    Team File Sharing
                              </a>
                            </li>
                            <li>
                                <a href="/user/share/pastebin">
                                    <i class="fa fa-fw fa-clipboard"></i>
                                    Team PasteBin
                              </a>
                            </li>
                            {% end %}
                        </ul>
                    </li>
                    {% if options.use_black_market %}
                        {% if len(user.team.items) != 0 %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-fw fa-dashboard"></i>
                                Unlocks
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if user.has_item("Source Code Market") %}
                                <li>
                                    <a href="/source_code_market">
                                        <i class="fa fa-fw fa-code"></i>
                                        Source Code Market
                                    </a>
                                </li>
                                {% end %}
                                {% if user.has_item("Password Security") %}
                                <li>
                                    <a href="/password_security">
                                        <i class="fa fa-fw fa-lock"></i>
                                        Password Security
                                    </a>
                                </li>
                                {% end %}
                                {% if user.has_item("Federal Reserve") %}
                                <li>
                                    <a href="/federal_reserve">
                                        <i class="fa fa-fw fa-dollar"></i>
                                        Federal Reserve
                                    </a>
                                </li>
                                {% end %}
                                {% if user.has_item("SWAT") %}
                                <li>
                                    <a href="/swat">
                                        <i class="fa fa-fw fa-crosshairs"></i>
                                        S.W.A.T.
                                    </a>
                                </li>
                                {% end %}
                            </ul>
                        </li>
                        {% end %}
                    {% end %}
                    {% if scoreboard_visible %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-fw fa-bar-chart-o"></i>
                            Scoreboard
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/scoreboard">
                                    <i class="fa fa-fw fa-list"></i>
                                    Summary
                              </a>
                            </li>
                            <li>
                                <a href="/scoreboard/history">
                                    <i class="fa fa-fw fa-calendar"></i>
                                    Charts
                              </a>
                            </li>
                            {% if options.use_black_market %}
                            <li>
                                <a href="/scoreboard/wall_of_sheep">
                                    <i class="fa fa-fw fa-key"></i>
                                    Wall of Sheep
                                </a>
                            </li>
                            {% end %}
                            <li>
                                <a href="/teams">
                                    <i class="fa fa-fw fa-users"></i>
                                    {% if options.teams %}Teams{% else %}Players{% end %}
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% end %}
                    {% if len(options.chat_url) > 0 %}
                    <li>
                        <a href="{{options.chat_url}}" target="_blank">
                            <i class="fa fa-fw fa-comment" title="chat"></i>
                        </a>
                    </li>
                    {% end %}
                </ul>
            </div><!--/.nav-collapse -->
            <!-- Right Side -->
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-fw fa-user"></i>
                    {{ user.handle }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/user/settings">
                            <i class="fa fa-fw fa-gears"></i>
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            <i class="fa fa-fw fa-info-circle"></i>
                            &nbsp;About
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <form id="logout-form" action="/logout" method="post">
                            {% raw xsrf_form_html() %}
                        </form>
                        <a id="logout">
                            <i class="fa fa-fw fa-sign-out"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
