<ul id="menu">
	<li>
		<a href="/user">Home</a>
	</li>
	<li>
		<a href="/boxes" >Play Game</a>
		<ul>
			<li>
				<a href="/boxes">Boxes</a>
			</li>
			<li>
				<a href="/challenges">Programming</a>
			</li>
			<li>
				<a href="/hashes">Password Hashes</a>
			</li>
			<li>
				<a href="/crackmes">Reverse Engineering</a>
			</li>
			<li>
				<a href="/se">Social Engineering</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="/user/team">Team</a>
		<ul>
			<li>
				<a href="/user/team">All Teams</a>
			</li>
			<li>
				<a href="/user/reporter">Flag Downloads</a>
			</li>
			<li>
				<a href="/user/shares">File Sharing</a>
			</li>
			<li>
				<a href="/pastebin">Paste Bin</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="/scoreboard">Scoreboard</a>
		<ul>
			<li>
				<a href="/all_time">Game History</a>
			</li>
			<li>
				<a href="/bar_chart">Real-time Bar Chart</a>
			</li>
			<li>
				<a href="/pie_chart">Real-time Pie Chart</a>
			</li>
			<li>
				<a href="/pie_chart">Game Log</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="/wallofsheep">Wall of Sheep</a>
	</li>
	<li>
		<a href="/user/settings">Settings</a>
	</li>
	<li>
		<a href="/user/logout">Logout</a>
	</li>
</ul>