tornado==5.*; python_version < '3.0'
tornado; python_version >= '3.0'
pbkdf2
PyMySQL
python-memcached
python-dateutil
defusedxml
netaddr
nose
future
python-resize-image
sqlalchemy
alembic
enum34
mysqlclient
rocketchat_API
