{% extends "../main.html" %} {% block title %} About {% end %} {% block head %}
<script src="/static/js/libs/gistfile1.js" type="text/javascript"></script>
{% end %} {% block content %}
<div class="container">
    <h1>
        <i class="fa fa-info-circle"></i>
        About v{{ handler.application.settings['version'] }}
    </h1>
    <br />
    <div class="well">
        <marquee behavior="scroll" direction="up" scrollamount="2" height="350">
            <center>
                <!-- Firefox fix -->
                <!-- Programming -->
                <hr>
                <h2>Programming</h2>
                <hr>
                <h3>
                    <i class="fa fa-trophy"></i> Moloch
                </h3>
                <h3>
                    ElJeffe
                </h3>
                <br />
                <h2>With contributions from</h2>
                <table style="width:500px; text-align: center;">
                    <tbody>
                        <tr>
                            <td><h3>AnarKyx01</h3></td>
                            <td><h3>ElmoArmy</h3></td>
                            <td><h3>iggykrajci</h3></td>
                        </tr>
                        <tr>
                            <td><h3>F13</h3></td>
                            <td><h3>tinmartinet</h3></td>
                            <td><h3>jinghli</h3></td>
                        </tr>
                        <tr>
                            <td><h3>RyPeck</h3></td>
                            <td><h3>Enki</h3></td>
                            <td><h3>Eriner</h3></td>
                        </tr>
                        <tr>
                            <td><h3>remi1411</h3></td>
                            <td><h3>lavalamp</h3></td>
                            <td><h3>dNetGuru</h3></td>
                        </tr>
                        <tr>
                            <td><h3>Und3rf10w</h3></td>
                            <td><h3>sporky</h3></td>
                            <td><h3></h3></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <!-- Special Thanks -->
                <hr>
                <h2>Special Thanks</h2>
                <hr>
                <br />
                <a href="http://bishopfox.com" target="_blank">
                    <img src="/static/images/bf.png" />
                </a>
                <br />
                <br />
            </center>
        </marquee>
    </div>
</div>
{% end %}