{% extends "../main.html" %}

{% block title %}
    {% from tornado.options import options %}
    {{ options.game_name }}
{% end %}

{% block content %}
    <div id="home_container" style="margin-right: auto; margin-left: auto; min-width: 940px; display: table; padding: 30px;">
        <div class="well" style="position: relative; display: table-row; min-width: 850px; min-height: 600px;">
            <img src="{{options.ctf_logo}}" style="margin-left: auto; margin-right: auto; display: block;">
            <h2 style="position: absolute; top: 0; margin-top: 15px; margin-left: 25px;  text-shadow: 2px 2px .3px black;">{{options.ctf_tagline}}</h2>
        </div>
    </div>
{% end %}
