{% extends "../main.html" %}

{% block title %}Login{% end %}

{% block content %}
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

<!-- Wrapping the Recaptcha create method in a javascript function -->
<script type="text/javascript">
   function showRecaptcha(element) {
     Recaptcha.create("6LcJJ88SAAAAAFzcmQqDPWGKRQXmJ0DCiZoPWTZf", element, {
       theme: "clean",
       callback: Recaptcha.focus_response_field});
   }
   $(document).ready(function() {
	  showRecaptcha('recaptcha_div'); 
   });
</script>

<h1>Login</h1>
<h2>{{header}}</h2>
<form action="/login" method="post" autocomplete="off">
{% raw xsrf_form_html() %}
			<label>Username:</label><input name="username" /> <br />
			<label>Password:</label><input name="password" type="password" /> <br />
			<div id="recaptcha_div"></div>
			<input type="submit" value=" Authenticate " /> <br />
</form>
{% end %}