{% extends "../main_public.html" %}

{% block title %}Login{% end %}

{% block content %}
  <h1>Agent Authentication</h1>
  <br />
  {% if errors != None and len(errors) != 0 %}
    {% for error in errors %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">ERROR</h4>
        {{ error }}
      </div>
    {% end %}
  {% end %}
  <div class="well">
    <form action="/login" method="post" autocomplete="off">  
      {% raw xsrf_form_html() %}
      <fieldset>
        <legend>Login</legend>
        <p>
          <label for="account">Account Name</label>
          <input name="account" placeholder="Account Name" type="text" />
        </p>
        <p>
          <label for="password">Password</label>
          <input name="password" placeholder="Password" type="password" />
        </p>     
      </fieldset>
      <p class="submit">
        <button class="btn btn-primary btn-large" type="submit">Authenticate</button>
      </p>   
    </form>
  </div>
  <script>
    $(document).ready(function() {
      document.getElementById('account').focus();
    }
  </script>
{% end %}