{% extends "../main.html" %}

{% block title %}Registration{% end %}

{% block content %}
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

<!-- Wrapping the Recaptcha create method in a javascript function -->
<script type="text/javascript">
   function showRecaptcha(element) {
     Recaptcha.create("6LcJJ88SAAAAAFzcmQqDPWGKRQXmJ0DCiZoPWTZf", element, {
       theme: "clean",
       callback: Recaptcha.focus_response_field});
   }
   $(document).ready(function() {
	  showRecaptcha('recaptcha_div'); 
   });
</script>

<h1>Register a New Account</h1>
<h2>{{errors}}</h2>
<br />
<form action="/registration" method="post">
{% raw xsrf_form_html() %}
	<p>
		Account Name (alpha-numeric only): <input name="username" />
	</p>
	<p>
		Hacker Name (alpha-numeric only): <input name="handle" />
	</p>
	<p>
		Password: <input name="pass1" type="password" autocomplete="off" />
	</p>
	<p>
		Confirm Password: <input name="pass2" type="password" autocomplete="off" />
	</p>
	<p>
		<div id="recaptcha_div"></div>
	</p>
	<input type="submit" value=" Register Account " />
</form>
{% end %}