{% extends "../main.html" %}

{% block title %}Welcome{% end %}

{% block content %}
<h1>Welcome to Root the Box VIII</h1>
<br />
<p>Root the Box is a computer hacking (CTF) game that requires
	skill, speed and team work. Each team must scan and exploit systems on
	the attack network. If a team successfully obtains remote code
	execution they can upload a reporting service, which awards them points
	over time. Every time a box is successfully pwned its point value
	drops, so to get the most points you must be the first team to get
	root. Teams can also steal points from one another by cracking each
	other's password hashes which are publicly displayed by the scoring
	engine.</p>
{% end %}