{% extends "../main.html" %}

{% block title %}User Index{% end %}

{% block header %}
	<script type="text/javascript" src="/static/js/libs/pikachoose/jquery.jcarousel.min.js"></script>
	<script type="text/javascript" src="/static/js/libs/pikachoose/jquery.pikachoose.js"></script>
	<link type="text/css" rel="stylesheet" href="/static/css/team_css3.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/team_styles.css" />
{% end %}

{% block content %}
	{% include ../notifier.html %}
	<div class="row-fluid">
		<div class="span5">
			<div class="row">
				<div class="span11 offset1 well">
					<h3>Welcome {{ user.handle }}</h3>
					{% if user.team is not None %}
						<strong>Current Level:</strong> {{ user.team.levels[-1].number }} <br />
						<strong>Bank Account:</strong> ${{ user.team.money }} <br />
						{% from libs.EventManager import EventManager %}
						<strong>Active Bots:</strong> {{ EventManager.Instance().bot_count(user.team) }} <br />
						<strong>Flags Captured:</strong> {{ len(user.team.flags) }}<br />
					{% else %}
						<strong>You are not on a team</strong>
					{% end %}
				</div>
				<div class="span11 offset1 well">
					{% if user.team is not None %}
	                    <h3 style="display: inline;">{{ user.team.name }}</h3>
	                    <h4 style="display: inline;">&nbsp;&nbsp;&nbsp;&quot;{{ user.team.motto }}&quot;</h4>
						<div class="pikachoose">
							<ul id="pikame">
								{% for teammate in user.team.members %}
									<li>
										<a href="#"><img src="/avatars/{{ teammate.avatar }}" alt="picture" /></a>
										<span>{{ teammate.handle }}</span>
									</li>
								{% end %}
							</ul>
						</div>
					{% else %}
						<strong>You are not on a team</strong>
					{% end %}
				</div>
			</div>
		</div>
		<div class="span5 offset1 well">
			<h2>Notifications</h2>
			{% from models import Notification %}
			{% for notify in Notification.by_user_id(user.id) %}
				<div class="well">
					<strong>{{ notify.title }}</strong> {{ notify.created.strftime("%I:%M%p") }}<br />
					{{ notify.message }}
				</div>
			{% end %}
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$("#pikame").PikaChoose();
		});
	</script>
{% end %}