{% extends "../main.html" %}

{% block header %}
<link rel="stylesheet" href="/static/css/screen.css" media="screen" />
<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
<link href="/static/css/vader/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
{% end %}

{% block title %}Shared Files{% end %}

{% block content %}
	<h1>File Sharing</h1>
	<br />
	<h2>Upload a File</h2>
	<form id="form1" action="/user/shares" method="post" enctype="multipart/form-data">  
      {% raw xsrf_form_html() %}
      <fieldset><legend>File Upload</legend>
        <p class="first">
          <label for="file_data">File (Max 50Mb)</label>
          <input type="file" name="file_data" id="file_data" />
        </p>
        <p>
          <label for="description">Description</label>
          <input type="text" name="description" id="description" />
        </p> 
      </fieldset>
      <p class="submit">
        <button type="submit"> Upload File </button>
      </p>
    </form>
	<br /> <br />
	<h2>Download a File</h2>
	<script>
		$(function() {
			$( "#accordion" ).accordion();
		});
	</script>

	<div id="accordion">
		{% for share in shares %}
			<h3><a href="#">{{ share.file_name }} - {{ share.content }} </a></h3>
			<div>
				<p>
					<strong>Name: </strong> {{ share.file_name }} <br />
					<strong>Content: </strong> {{ share.content }} <br />
					<strong>Size: </strong> {{ share.byte_size }} byte(s) <br />
					<a href="/user/shares/download?uuid={{ share.uuid }}">Download</a>
				</p>
			</div>
		{% end %}
	</div>

{% end %}