{% extends "../main.html" %}

{% block header %}
<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.pikachoose.js"></script>
<link href="/static/css/vader/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="/static/css/team_styles.css" rel="stylesheet" />
<link type="text/css" href="/static/css/team_css3.css" rel="stylesheet" />
{% end %}

{% block title %}Team{% end %}

{% block content %}
	<h1>Team Members</h1>
	<br />
	<script>		
		
		$(function() {
			$( "#radio" ).buttonset();
		});
		
		function load_team(team_id) {
			$.get('/user/team/ajax?team_id=' + team_id, function(data) {
			  document.getElementById('display_team').innerHTML = data;
			  start_slide_show();
			});
		}

		function start_slide_show() {
			$(document).ready(function() {
				$("#pikame").PikaChoose();
			});
		}
	</script>
	<form>
		<div id="radio">
			{% for team in teams %}
				<input type="radio" id="{{ team.id }}" name="radio" onclick="load_team({{ team.id }})" />
				<label for="{{ team.id }}">{{ team.team_name }}</label>
			{% end %}
		</div>
	</form>
	<br />
	<div id="display_team">
	</div>

{% end %}