{% extends "../../main.html" %}

{% block title %}Create Box{% end %}

{% block header %}
<script src="/static/js/pages/admin/create/box.js"></script>
{% end %}

{% block content %}
{% from models.GameLevel import GameLevel %}
{% from models.Corporation import Corporation %}
<div class="container">
    <h1>
        <i class="fa fa-desktop"></i>
        Create Box
    </h1>
    <br />
    {% if errors is not None and len(errors) != 0 %}
        {% for error in errors %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4 class="alert-heading">ERROR</h4>
            {{ error }}
        </div>
        {% end %}
    {% end %}
    <div class="well">
        <form class="form-horizontal" action="/admin/create/box" method="post" enctype="multipart/form-data" autocomplete="on">
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="box_name">Box Name</label>
                <div class="controls">
                    <input autofocus required id="box-name" name="name" maxlength="32" type="text" placeholder="Box Name"
                           rel="popover"
                           data-original-title="Box Name"
                           data-content="What's the name of this box? [3-32 Characters]">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="game_level">Game Level</label>
                <div class="controls">
                    <select id="game-level" name="game_level"
                           rel="popover"
                           data-original-title="Game Level"
                           data-content="Level to put box in?">
                        <option value=""></option>
                        {% for level in GameLevel.all() %}
                        <option value="{{ level.number }}">{{ level.number }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="corporation">Corporation</label>
                <div class="controls">
                    <select id="corporation" name="corporation_uuid"
                            rel="popover"
                            data-original-title="Corporation"
                            data-content="Corporation box belongs too?">
                        <option value=""></option>
                        {% for corp in Corporation.all() %}
                        <option value="{{ corp.uuid }}">{{ corp.name }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="operatingsystem">Operating System</label>
                <div class="controls">
                    <input id="operating_system" name="operating_system" type="hidden" value="?" />
                    <div id="operating-system" class="btn-group" data-toggle="buttons-radio"
                            rel="popover"
                            data-original-title="Operating System"
                            data-content="What type of operating system is this?">
                        <button id="os-button" class="btn active" type="button" data-os="?">
                            <i class="fa fa-question"></i>
                            Unknown
                        </button>
                        <button id="os-button" class="btn" type="button" data-os="linux">
                            <i class="fa fa-linux"></i>
                            Linux
                        </button>
                        <button id="os-button" class="btn" type="button" data-os="windows">
                            <i class="fa fa-windows"></i>
                            Windows
                        </button>
                        <button id="os-button" class="btn" type="button" data-os="apple">
                            <i class="fa fa-apple"></i>
                            OSX
                        </button>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <textarea required id="description" name="description" maxlength="1024" placeholder="Description"
                              rel="popover"
                              data-original-title="Description"
                              data-content="A brief description of the box [Max: 1024 Characters]">
                    </textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="autoformat">
                    Autoformat Description
                </label>
                <div class="controls">
                    <input id="autoformat" name="autoformat" type="hidden" value="true" />
                    <div id="autoformat-button" class="btn-group" data-toggle="buttons-radio"
                        rel="popover"
                        data-original-title="Autoformat"
                        data-content="Automatically format the box description with proper spacing and newlines.">
                        <button id="autoformat-enable" type="button" class="btn btn-success">
                            <i id="autoformat-enable-icon" class="fa fa-fw fa-check-square-o"></i>
                            Enable
                        </button>
                        <button id="autoformat-disable" type="button" class="btn btn-danger">
                            <i id="autoformat-disable-icon" class="fa fa-fw fa-square-o"></i>
                            Disable
                        </button>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="difficulty">Difficulty</label>
                <div class="controls">
                    <input required id="difficulty" name="difficulty" maxlength="16" type="text" placeholder="Difficulty"
                        rel="popover"
                        data-original-title="Box Difficulty"
                        data-content="What's the difficulty of the box? [Max: 16 Characters]">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="avatar">Avatar File h250 x w500 (Max 1Mb)</label>
                <div class="controls">
                    <input id="avatar" name="avatar" type="file">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">Create Box</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% end %}
