{% extends "../../main.html" %}

{% block title %}Create Box{% end %}

{% block header %}
<script src="/static/js/pages/admin/create/box.js"></script>
{% end %}

{% block content %}
{% from models.GameLevel import GameLevel %}
{% from models.Corporation import Corporation %}
<div class="container">
    <h1>
        <i class="fa fa-desktop"></i>
        Create Box
    </h1>
    <br />
    {% if errors is not None and len(errors) != 0 %}
        {% for error in errors %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4 class="alert-heading">ERROR</h4>
            {{ error }}
        </div>
        {% end %}
    {% end %}
    <div class="well">
        <form action="/admin/create/box" method="post" enctype="multipart/form-data" autocomplete="on">
            {% raw xsrf_form_html() %}
            <div class="form-group">
                <label for="box_name">Box Name</label>
                <div class="controls">
                    <input autofocus required class="form-control" id="box_name" name="name" type="text" placeholder="Box Name">
                </div>
            </div>
            <div class="form-group">
                <label for="game_level">Game Level</label>
                <div class="controls">
                    <select class="form-control" name="game_level">
                        <option value=""></option>
                        {% for level in GameLevel.all() %}
                        <option value="{{ level.number }}">{{ level.number }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="corporation">Corporation</label>
                <div class="controls">
                    <select id="corporation" class="form-control" name="corporation_uuid">
                        <option value=""></option>
                        {% for corp in Corporation.all() %}
                        <option value="{{ corp.uuid }}">{{ corp.name }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="operatingsystem">Operating System</label>
                <div class="controls">
                    <input id="operating-system" name="operating_system" type="hidden" value="?" />
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button id="os-button" class="btn btn-primary" type="button" data-os="?">
                            <i class="fa fa-fw fa-question"></i>
                            Unknown
                        </button>
                        <button id="os-button" class="btn btn-primary" type="button" data-os="linux">
                            <i class="fa fa-fw fa-linux"></i>
                            Linux
                        </button>
                        <button id="os-button" class="btn btn-primary" type="button" data-os="windows">
                            <i class="fa fa-fw fa-windows"></i>
                            Windows
                        </button>
                        <button id="os-button" class="btn btn-primary" type="button" data-os="apple">
                            <i class="fa fa-fw fa-apple"></i>
                            OSX
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <div class="controls">
                    <textarea required class="form-control" id="description" name="description" placeholder="Description">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="autoformat">
                    Autoformat Description
                </label>
                <div class="controls">
                    <input id="autoformat" name="autoformat" type="hidden" value="true" />
                    <div id="autoformat-button" class="btn-group" data-toggle="buttons-radio"
                        rel="popover"
                        data-original-title="Autoformat"
                        data-content="Automatically format the box description with proper spacing and newlines.">
                        <button id="autoformat-enable" type="button" class="btn btn-success">
                            <i id="autoformat-enable-icon" class="fa fa-fw fa-check-square-o"></i>
                            Enable
                        </button>
                        <button id="autoformat-disable" type="button" class="btn btn-danger">
                            <i id="autoformat-disable-icon" class="fa fa-fw fa-square-o"></i>
                            Disable
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="difficulty">Difficulty</label>
                <div class="controls">
                    <input required class="form-control" id="difficulty" name="difficulty" type="text" placeholder="Difficulty">
                </div>
            </div>
            <div class="form-group">
                <label for="avatar">Avatar File h250 x w500 (Max 1Mb)</label>
                <div class="controls">
                    <input id="avatar" name="avatar" type="file">
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button class="btn btn-primary form-control" type="submit">
                        <i class="fa fa-desktop"></i>
                        Create Box
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% end %}
