{% extends "../../main.html" %}

{% block title %}{{_("Create Corporation")}}{% end %}

{% block header %}
    <script src="/static/js/pages/admin/create/corporation.js"></script>
{% end %}

{% block content %}
<div class="container">
    <h1>
        <i class="fa fa-building-o"></i>
        {{_("Create Corporation")}}
    </h1>
    <br />{% if errors is not None and len(errors) != 0 %}
        {% for error in errors %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4 class="alert-heading">{{_("ERROR")}}</h4>
            {{ error }}
        </div>
        {% end %}
    {% end %}
    <div class="well">
        <form class="form-horizontal" action="/admin/create/corporation" method="post">
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="corporation_name">{{_("Corporation Name")}}</label>
                <div class="controls">
                    <input autofocus id="corporation-name" name="corporation_name" maxlength="32" type="text" placeholder="{{_('Corporation Name')}}"
                           rel="popover"
                           data-original-title="{{_('Corporation Name')}}"
                           data-content="{{_('What is your Corporation Name?  If you do not plan to use Corporations, just create one with no name.')}} [0-32 {{_('Characters')}}]">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="corporation_description">{{_("Description")}}</label>
                <div class="controls">
                    <textarea autofocus id="corporation-description" name="corporation_description" maxlength="512" type="text" placeholder="{{_('Optional')}} {{_('Description')}}"
                           data-original-title="{{_('Description')}}">
                    </textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">{{_("Create Corporation")}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% end %}
