{% extends "../../main.html" %}

{% block title %}Create Flag{% end %}

{% block content %}
    <div class="container">
        <h1>Create Flag</h1>
        <br />
        {% if errors != None and len(errors) != 0 %}
            {% for error in errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <h4 class="alert-heading">ERROR</h4>
                    {{ error }}
                </div>
            {% end %}
        {% end %}
        <div class="well">
            <form class="form-horizontal" action="/admin/create/flag" method="post">  
                {% raw xsrf_form_html() %}
                <div class="control-group">
                    <label class="control-label" for="flag_name">Flag Name</label>
                    <div class="controls">
                        <input autofocus id="flag_name" name="flag_name" type="text" placeholder="Flag Name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="token">Token Value</label>
                    <div class="controls">
                        <input id="token" name="token" type="text" placeholder="Token Value">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="is-file">File</label>
                    <div class="controls">
                        <select id="is-file" name="is_file">
                            <option value="false">False</option>
                            <option value="true">True</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="motto">Description</label>
                    <div class="controls">
                        <input id="description" name="description" type="text" placeholder="Description">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="motto">Reward</label>
                    <div class="controls">
                        <input id="reward" name="reward" type="text" placeholder="$ Reward">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="box_uuid">Box</label>
                    <div class="controls">
                        <select name="box_uuid">
                            <option value=""></option>
                            {% from models import Box %}
                            {% for box in Box.all() %}
                                <option value="{{ box.uuid }}">{{ box.name }}</option>
                            {% end %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" type="submit">Create Flag</button>
                    </div>
                </div>   
            </form>
        </div>
    </div>
{% end %}