{% extends "../../main.html" %}

{% block title %}Create Game Level{% end %}

{% block header %}
<script src="/static/js/pages/admin/create/game_level.js"></script>
{% end %}

{% block content %}
<div class="container">
    <h1>
        <i class="fa fa-level-up"></i>
        Create Game Level
    </h1>
    <br />
    {% if errors is not None and len(errors) != 0 %}
        {% for error in errors %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4 class="alert-heading">ERROR</h4>
            {{ error }}
        </div>
        {% end %}
    {% end %}
    <div class="well">
        <form class="form-horizontal" action="/admin/create/game_level" method="post">
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="level_number">Level Number</label>
                <div class="controls">
                    <input autofocus required id="level-number" name="level_number" type="text" pattern="[0-9]+" placeholder="Level Number"
                            rel="popover"
                            data-original-title="Level Number"
                            data-content="Nuber of new Level [0-9]+ Must be unique" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="buyout">Buyout Price</label>
                <div class="controls">
                    <input required id="buyout" name="buyout" type="text" pattern="[0-9]+" placeholder="Level Number"
                            rel="popover"
                            data-original-title="Buyout Price"
                            data-content="Cost to open this level and see flags [0-9]+" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">Create Game Level</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% end %}
