{% extends "../../main.html" %}

{% block title %}Create Team{% end %}

{% block header %}
<script src="/static/js/pages/admin/create/team.js"></script>
{% end %}

{% block content %}
<div class="container">
    <h1>
        <i class="fa fa-group"></i>
        Create Team
    </h1>
    <br />
    {% if errors is not None and len(errors) != 0 %}
        {% for error in errors %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4 class="alert-heading">ERROR</h4>
            {{ error }}
        </div>
        {% end %}
    {% end %}
    <div class="well">
        <form class="form-horizontal" action="/admin/create/team" method="post">
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="team_name">Team Name</label>
                <div class="controls">
                    <input autofocus required id="team-name" name="team_name" maxlength="24" type="text" placeholder="Team Name"
                            rel="popover"
                            data-original-title="New Team Name"
                            data-content="Choose a name for your new team! [3-24 Characters]" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="motto">Motto</label>
                <div class="controls">
                    <input required id="motto" name="motto" maxlength="32" type="text" placeholder="Team Motto"
                           rel="popover"
                           data-original-title="Team Motto"
                           data-content="What's your team's motto? [Max: 32 Characters]">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">Create Team</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% end %}
